[2015-01-08 16:28] pires opened #1 "Containers can't access k8s API"
See https://github.com/GoogleCloudPlatform/kubernetes/issues/3244

[2015-01-09 16:25] #1 closed

[2015-01-09 17:23] pires opened #2 "Networking between pods on different minions doesn't work"

[2015-01-09 18:20] #2 closed

[2015-01-28 09:33] rimusz opened #3 "master, nodes hostname naming problem"
@pires
master and nodes get the same node-02 host name, it makes a bit confusing :-)

[code]

[code]

[code]
I use OS X 10.10, latest VirtualBox and Vagrant versions

[2015-01-28 10:06] rimusz commented on #3
@pires sorry I do not have for the forking/PR but this fixed the problem:
[code]
I renamed vm_name to vm_name_node

[2015-01-28 10:07] pires commented on #3
@rimusz I've noticed this before and know it's somewhere in the ```Vagrantfile``` VM name config, but haven't had tried fixing it. Could you provide a PR?

[2015-01-28 10:08] pires commented on #3
Oh, you got ahead of me. Thanks, will include this +1:

[2015-01-28 10:13] rimusz commented on #3
@pires no worries

[2015-01-28 10:16] rimusz opened #4 "cannot connect to master from OS X"
@pires
$ export KUBERNETES_MASTER=http://172.17.8.101:8080
$ kubectl get minions
F0128 10:14:50.489095   52140 get.go:75] Get http://172.17.8.101:8080/api/v1beta1/minions?labels=&namespace=default: dial tcp 172.17.8.101:8080: connection refused

Could it be related to the latest k8s 0.9.1 version?

[2015-01-28 11:10] #3 closed

[2015-01-28 11:10] pires commented on #3
Thanks a lot @rimusz.

[2015-01-28 11:19] #4 closed

[2015-01-28 11:19] pires commented on #4
Don't know how the hell this happened but it's working now. Good catch @rimusz, thank you so much!

[2015-01-28 11:25] rimusz commented on #4
@pires glad to help :)

[2015-02-18 22:47] pires opened #11 "Drop CoreOS stable support"
@AntonioMeireles just saw references to the CoreOS stable channel but we should actually not support it. For instance, the ```-s=overlay``` Docker option is not supported in Docker < 1.4.x and I had a lot of issues because of that with stable users. And yes, right now, stable is using Docker 1.4.1 but I'd really like to not hold on to that premise.

[2015-02-18 22:50] AntonioMeireles commented on #11
ah, ok. will fix that in a bit.

[2015-02-19 09:29] #11 closed

[2015-02-19 13:45] pires opened #14 "kubecfg doesn't have executable permissions"
[code]

[2015-02-19 13:46] pires opened #15 "Install kubectl"
```kubecfg``` [has been dropped](https://github.com/GoogleCloudPlatform/kubernetes/pull/4291).

[2015-02-19 13:46] pires opened #16 "Fix instructions"
Some filenames are not correct. Just give it some love.

[2015-02-19 13:58] #14 closed

[2015-02-19 13:58] #15 closed

[2015-02-19 14:05] #16 closed

[2015-03-06 15:03] albertocsm opened #28 "vagrant ssh"
Unable to ssh into any node

eg.:
[code]

Vagrant key can be added to ssh-agent to fix this
[code]

See [CoreOS blog](https://coreos.com/blog/coreos-clustering-with-vagrant/) for context

[2015-03-06 16:08] pires commented on #28
This is related to the key not being available to your ```ssh-agent```.

[2015-03-06 20:29] AntonioMeireles commented on #28
@albertocsm can you check please if just placing
**config.ssh.forward_agent = true** after **config.ssh.insert_key = false** in the Vagrantfile solves your issue ?

[2015-03-07 10:45] xudifsd opened #30 "cloud-init stuck at docker-cache.service"
Hi @pires
I'm using this project to brought kubernetes up in my local machine, and `fleetctl list-machines` gives right output, but it failed to do `kubectl create`, output is

F0307 18:28:04.580672   56532 create.go:81] Post http://172.17.8.101:8080/api/v1beta1/pods?namespace=default: dial tcp 172.17.8.101:8080: connection refused

I sshed in master, and found it didn't start kubernetes api serve

[2015-03-07 10:47] pires commented on #30
Docker-cache is a registry docker container that will serve as a cache for
minions to use when pulling images from the Internet. It takes sometime to
download, depending on your Internet speed. Is it slow for you?
On Mar 7, 2015 10:46 AM, "Di Xu" <notifications@github.com> wrote:

[2015-03-07 10:55] xudifsd commented on #30
well, around 220Kb/s, kind of slow. how long it will take, and how should I determine if it's finished?

[2015-03-07 13:02] pires commented on #30
* when docker ps show registry
* when kubernetes binaries are running

On Sat, Mar 7, 2015 at 10:55 AM, Di Xu <notifications@github.com> wrote:

--
Pires

[2015-03-07 13:14] xudifsd commented on #30
ok, finished, thanks a lot

[2015-03-07 13:14] #30 closed

[2015-03-08 21:00] #28 closed

[2015-03-13 13:34] MCyprien opened #36 "problem launch flannel docker0"
Hello,
I have a issue with your last release, pods I launch are not connected in flannel network (10.244.X.X) but in docker0 network (10.1.X.X) so I can connect my pods from other nodes of the cluster

[2015-03-13 13:35] MCyprien commented on #36
It works pretty well before, the issue come with the last commit I think

[2015-03-16 09:15] MCyprien opened #37 "number of node >2"
When I try to launch 6 nodes , for example, they all launch but only node 1 and 2 are added to the master. When I get minions with kubectl I only get node-01 and node-02.

[2015-03-16 09:47] MCyprien commented on #37
Ok it's a problem with kubectl, I don't know how but kubectl crashed and now it always display the same information. Sorry for the false issue

[2015-03-16 09:47] #37 closed

[2015-03-16 16:17] AntonioMeireles commented on #36
@MCyprien thanks for reporting this. fix is already in my tree. should land here soonish.

[2015-03-17 10:14] #36 closed

[2015-03-17 10:18] pires opened #38 "Killing node doesn't reflect on pod relocation"
See https://github.com/GoogleCloudPlatform/kubernetes/issues/5435

[2015-03-18 02:17] hjfreyer opened #43 "kube-apiserver crashlooping on master"
I've been banging my head against this for hours with no luck. Running from master, unchanged. Vagrant 1.7.2, virtualbox 4.3.24_OSEr98716, on Arch Linux.

When I ssh into the master I can see that kube-apiserver is starting up, then crashing, then getting restarted over and over. The log is not enlightening. When I start the server from the command line, rather than letting systemctl do it, everyt

[2015-03-18 09:39] AntonioMeireles commented on #43
oops!. the good news is that i can reproduce, the bad news is that i have no clue yet on why this started to happen. digging. thanks for reporting.

[2015-03-18 10:30] AntonioMeireles commented on #43
@hjfreyer issue identified and fixed. should be merged here later today. thanks for reporting and for your patience!

[2015-03-18 10:42] MCyprien opened #45 "eth1 use virtualbox dhcp"
When CoreOS are launching they use the virtual box dhcp before setting static addresse. So we have multiple addresse on the card. The one used is 192.168.X.X and not 172.17.8.101 (for the master). It can be solved by disabling dhcp option in virtualbox.
I think it can be solved with something like that:
VBoxManage dhcpserver remove --netname HostInterfaceNetworking-vboxnet0
but i don't really know

[2015-03-18 10:44] MCyprien commented on #45
There is another problem when trying to connect to master using kubectl with connection refused but it can be due to this issue so I aml not opening another issue

[2015-03-18 12:09] pires commented on #45
@MCyprien yes, you need to disable whatever DHCP server you may have running. This is something related to each provider and host configuration. I'll add something to the docs about it.

The command you refer to should be run on your host once and doesn't need to be put into any of the files in this repository.

[2015-03-18 12:17] #45 closed

[2015-03-18 12:20] pires commented on #43
It's fixed. Can you please confirm @hjfreyer?

[2015-03-18 14:16] hjfreyer commented on #43
Looks like it's fixed. Thanks for the quick response!

[2015-03-18 14:16] #43 closed

[2015-03-18 14:26] jdojff opened #46 "Failure with kubernetes/pause image on fresh minions"
Hi, first time I try to deploy some pods on to the cluster I receive failures in endless loop. This is until I ssh into every minion and run ```docker pull kubernetes/pause``` manually.
[code]

[2015-03-18 14:31] ggarson opened #47 "VM use DHCP instead of static IP adresses as expected"
Hi,

before the commit 7f3370968c962ea2d733314fddc2b336b305f358 everything was OK.

Now when I deploy a cluster with virtualbox provider (I configured a DHCP serveur inside virtualbox in the subnet 172.17.8.x-49/99), nodes use IP provided by the DHCP instead of 172.17.8.101 (master) and so on for minions.

P.S. I don't used the sync file, so all is by default.

Tell me if you need more information

[2015-03-18 14:32] AntonioMeireles commented on #46
@jdojff could you plz on a cluster being hit by this past here the output in the master of `journalctl -u docker-cache --no-pager --lines=1000` and on any of the minions of `journalctl -u docker --no-pager --lines=1000` ?

[2015-03-18 14:41] AntonioMeireles commented on #47
@ggarson :cry:
afaict none of the changes at the above commit in the Vagrantfile should ever change the way the vagrant/hypervisor networking was going on.

so, the issue persists if you just disable (per the README) the 'native' VirtualBox DHCP ? ( `VBoxManage dhcpserver remove --netname HostInterfaceNetworking-vboxnet0` )

[2015-03-18 14:47] ggarson commented on #47
In fact there is no issue if I disable it (I did it as a workaround) but before it was working event if the DHCP was enabled.

In fact I use another virtual machine (or more) in virtualbox in the subnet 172.18.8.0 to access directly to my coreos host. And there virtual machines are configured to use a dhcp.

So it's not really an issue but more precisely a regression. Someone was faced of the same

[2015-03-18 14:51] pires commented on #47
@ggarson @AntonioMeireles there are many issues coming up with that merge and I'm currently removing them, but since the PR had so many things - my bad! - it's hard to revert. Am working on it as we speak.

[2015-03-18 14:51] AntonioMeireles commented on #47
i believe you i just have no freaking idea of what triggered this change of behaviour. will digg. (btw if you use old CoreOS alpha images - issue persists ? (just to make sure that this isn't some upstream change)

[2015-03-18 14:52] jdojff commented on #46
Sure, master: http://pastebin.com/DwK3DqKG
node-01: http://pastebin.com/cYLDVpbH
node-02: http://pastebin.com/D25qEWKy

[2015-03-18 14:56] ggarson commented on #47
I use the last alpha images for days and I was only a problem this morning after the git pull... I reinstall my clusters few times by day

[2015-03-18 15:16] pires commented on #47
@ggarson working on a hotfix as we speak. Please bear with me ;-)

[2015-03-18 15:17] pires commented on #46
@jdojff working on a hotfix. Please bear with me.

[2015-03-18 15:23] ggarson commented on #47
@pires don't worry, you are doing a great job ;)

[2015-03-18 17:13] pires commented on #46
@jdojff care to try it out now and give feedback, please?

[2015-03-18 17:14] pires commented on #47
@ggarson thanks for your kind words. Can you please try it out now and let me know?

[2015-03-18 17:15] pires commented on #43
@hjfreyer I did screw this up. Can you please pull latest master and let me know how it goes for you?

[2015-03-18 17:18] hjfreyer opened #48 "Document forwarding of external traffic from host to k8s services"
Here's my setup:
- I have a personal Arch Linux server for NAS, personal HTTP, backup, bitcoin node, etc.
- I want to use k8s to make my configuration as stateless as possible. If my server died tomorrow, I should be able to restore my data and get all my programs up and running with a few shell scripts. Also, security through VMs/containerization.
- I want to map incoming connections on my host (

[2015-03-18 17:36] jdojff commented on #46
No, the issue is still there. I think these recent big changes hadn't do anything with it. I already had this issue one-two weeks ago when trying this cluster configuration for the first time.

[2015-03-18 18:10] onemorehill opened #49 "Using https://get.k8s.io is outdated"
Why are projects such as this one still using https://get.k8s.io to derive the latest releases of kubenetes. It looks like it hasn't been update in a while as kube is now 0.12.0.
Oh and since this is my first communication - you people are doing some great work here :)

[2015-03-18 19:03] wkharold opened #50 "k8s services have 10.100.x.y addresses"
After vagrant up the kubernetes and kubernetes-ro services IP fields are 10.100.0.2 and 10.100.0.1 respectively. Those addresses aren't pingable from either the host machine or from the master.

[2015-03-18 19:38] ggarson commented on #47
It's OK for the DHCP issue.

Thanks @pires

[2015-03-18 19:38] #47 closed

[2015-03-18 22:30] pires commented on #47
Awesome @ggarson! Thanks for your feedback man.
On Mar 18, 2015 19:38, "ggarson" <notifications@github.com> wrote:

[2015-03-18 22:31] pires commented on #46
@jdojff when are you available for a debugging session?

[2015-03-18 22:44] AntonioMeireles commented on #46
interested in the *digging* expedition too... :angel:

[2015-03-18 23:05] pires commented on #46
Just booted a new Kubernetes cluster, deployed Elasticsearch cluster and..
[code]

The only difference I spot is the `kubernetes/pause` tag, which in my case is `go` while in your case is `latest`.

[2015-03-18 23:07] pires commented on #50
Service addresses are never pingable. See more details about services [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/services.md#portals-and-service-proxies).

[2015-03-18 23:09] pires commented on #50
Nonetheless, accessing read-only service with `curl http://${KUBERNETES_RO_SERVICE_HOST}:${KUBERNETES_RO_SERVICE_PORT}` is not possible in any of the nodes. Looking at it!

[2015-03-18 23:11] pires commented on #49
@onemorehill I've replaced the (not so) _smart_ way of telling the latest version with a hardcoded default version for `KUBERNETES_VERSION` variable in the `Vagrantfile`. Right now, it's `0.13.1` which as been tested by me.

Thank you for your report!

[2015-03-18 23:11] #49 closed

[2015-03-19 00:43] pires commented on #48
Not an established practice, but it's as easy as adding a second NIC to the node you want (or nodes) and set an IP address that belongs to your LAN. Here's what I did:
* In `Vagrantfile` define a fake MAC address for the node(s) where you'll have services exposed to your LAN
* Set-up a DHCP server on your LAN that will set the IP address you want for said fake MAC address - DHCP server is needed b

[2015-03-19 08:04] jdojff commented on #46
I'm available now. Ok, so I have checked out fresh ```pires/kubernetes-vagrant-coreos-cluster``` and ```pires/kubernetes-elasticsearch-cluster``` repos and tried with your example.

First thing to get my attention is, when starting ```vagrant up master``` and ```vagrant up``` I get ```Could not open a connection to your authentication agent.``` in each node: http://pastebin.com/Sz8uHt98 Not sure i

[2015-03-19 08:41] AntonioMeireles commented on #46
@jdojff well, this, at least, makes perfect sense; given that your docker pulls were going via the registry-cache, once an image is downloaded/pulled from one minion it gets available 'locally' for all others in the cluster.

and things start to make [some] sense. you are running windows right ? the vagrant trigger scripts we run assume that the host is either linux or osx, so it's expected that t

[2015-03-19 09:06] jdojff commented on #46
Yes, I'm on Windows. But I can't run vagrant inside of virtualbox linux VM to test if it works..

[2015-03-19 09:28] AntonioMeireles commented on #46
@jdoff main issue atm that crosses my mind is if you are having issues *just* because on Windows, or if there's some general issue that persists...

[2015-03-19 11:14] pires commented on #46
You need [`ssh-agent` running](http://ryanlanciaux.github.io/blog/2014/05/15/running-ssh-agent-on-windows/).

[2015-03-19 13:00] jdojff commented on #46
Yes, ssh-agent solved vagrant startup issue. However, original issue still exists..

[2015-03-19 13:01] AntonioMeireles commented on #46
@jdojff it seems that all releases above 0.12.2 are having issues. we're working to spot the root cause of it)

[2015-03-19 13:10] pires commented on #46
Windows will not be supported, sorry. Will have this in the documentation.

[2015-03-19 13:18] pires commented on #50
Bug in Kubernetes `0.13.x`. With `0.12.2` it works. See https://github.com/GoogleCloudPlatform/kubernetes/issues/5647

[2015-03-19 14:50] pires commented on #50
@wkharold try this `KUBERNETES_VERSION=0.12.2 vagrant up` and then re-test what you're doing.

[2015-03-19 14:50] pires commented on #48
@hjfreyer please be sure to check #50 cause it may have impact on your tests.

[2015-03-19 15:07] wkharold commented on #50
@pires with KUBERNETES_VERSION=0.12.2 attempting to curl kubernetes-ro times out. Doing
iptables -t nat -L yields: https://gist.github.com/wkharold/bd2fc9065e2b9b7dc433

[2015-03-19 15:09] pires commented on #50
@wkharold works here.
[code]

[2015-03-19 15:18] wkharold commented on #50
@pires yes, works for me as well on a minion, just not on the master. I assume that's working as designed. Thanks.

[2015-03-19 15:31] pires commented on #50
@wkharold yes, `kube-proxy` is not running on the master, so it's expect not to access services.

[2015-03-19 15:31] #50 closed

[2015-03-20 03:00] hjfreyer commented on #48
This seems to work well enough! For some reason I was thinking double-NATing (first at my router, then within my box) felt more "secure", but really it's just unnecessary overhead.

Thanks for the tip!

[2015-03-20 22:22] pires commented on #48
@hjfreyer Glad it worked out. OK to close then?

[2015-03-22 17:05] #48 closed

[2015-03-25 12:04] pires commented on #38
So https://github.com/GoogleCloudPlatform/kubernetes/pull/5399 has been merged and I'm just waiting on a new release to test.

[2015-03-25 15:02] wkharold opened #51 "Missing closing `"` on line 4 of kubLocalSetup"

[2015-03-25 15:05] AntonioMeireles commented on #51
CC: @pires.  @wkharold this is already fixed in [my](https://github.com/AntonioMeireles/kubernetes-vagrant-coreos-cluster) tree. the bad news is that atm things have diverged a bit. only cherry picks or manual merges will do...

[2015-03-25 15:07] #51 closed

[2015-03-25 15:07] pires commented on #51
Thanks @wkharold.

[2015-03-25 15:08] pires commented on #51
@AntonioMeireles yeah, I understand you want to keep your stuff and I'm totally OK with you going with it. Will keep an eye and steal some stuff from time to time ;-) long live OSS

[2015-03-26 21:26] zigansins opened #52 "vagrant status shows only first 2 nodes"
In case more than 2 nodes are started, vagrant still sees only node-01 and node-02. It is not possible to ssh into higher nodes via vagrant, nor halt them. If issuing vagrant halt, the master and 2 first nodes are halted but the rest is up.

[2015-03-26 21:36] pires commented on #52
This happens because when one uses environment variable `NUM_INSTANCES` to set the number of minions to spawn, it actually doesn't get persisted anywhere where `Vagrantfile` can read it and falls back to the default `2`.

[2015-03-28 09:59] pires opened #53 "Add Kubernetes DNS integration"
See https://github.com/GoogleCloudPlatform/kubernetes/tree/master/cluster/addons/dns

[2015-03-28 10:33] pires commented on #52
cluster you *must* also use those exact settings when invoking
`vagrant {up,ssh,destroy}` to communicate with any of the nodes in the cluster as otherwise
things may not behave as you'd expect.

So, if you ran `NUM_INSTANCES=4 vagrant up` you'll need to `NUM_INSTANCES=4 vagrant status` in order to show all the nodes. This is not optimal, but right now it's what works.

[2015-03-28 12:12] pires commented on #53
Current Kubernetes DNS integration instructions are broken https://github.com/GoogleCloudPlatform/kubernetes/issues/6134

[2015-03-28 12:49] #53 closed

[2015-04-02 14:00] pires opened #56 "Make VM disks configurable"
VM disks are not configurable as of the moment. We need this so we don't end up filling disks with more aggressive testbeds.

/cc @albertocsm

[2015-04-02 14:03] AntonioMeireles commented on #56
fwiw i wouldn't not even try again to fix this ... [i tried before] ...

- it's hypervisor dependent
- vagrant would by default on update destroy the extra disks.

the simplest IMHO is to take advantage of the plugable NFS mounts machinery to make data persistent....

[2015-04-02 14:12] pires commented on #56
This issue is not related to persistent data but rather to ephemeral data that we want to be able to store during our testbed lifecycle (meaning before `vagrant destroy`).

[2015-04-02 14:14] AntonioMeireles commented on #56
still. the easiest way are NFS mounts :-). we already can do that for free. one can  manualy extend the partitions but ... tricky.

[2015-04-10 06:19] rubenv opened #59 "Fails to start under VMWare Fusion"
I'd love to start playing with Kubernetes & CoreOS under Vagrant, but I cannot get it to work.

As far as I can see, I've narrowed it down to this:
[code]

Is there something wrong with my network setup?

[2015-04-10 12:58] pires commented on #59
So, no internet access on that VM?

[2015-04-10 13:19] rubenv commented on #59
It does have it. If I ssh into it and restart `setup-network-environment.service`, it runs wget properly.

[2015-04-10 13:23] rubenv commented on #59
[code]

Perhaps `network-online.target` is not a strong-enough guarantee that the web is reachable?

[2015-04-10 13:26] rubenv commented on #59
[code]

Sadly, I have no idea how to trigger the remaining bootup after pushing it through manually.

[2015-04-10 14:10] pires commented on #59
`setup-network-environment` is not related to VM networkingconfiguration, but rather some CoreOS environment stuff - otherwise, how could you download `/opt/bin https://storage.googleapis.com/k8s/setup-network-environment`? This must be something with VMware provisioning.

[2015-04-10 14:10] pires commented on #59
@AntonioMeireles care to join the discussion?

[2015-04-10 14:17] AntonioMeireles commented on #59
humm... (please do note that i have a way to reproduce this, so bellow *just* shots in the dark)

at sight it seems that for some reason `setup-network-environement.service` is just run too soon.

@rubenv can you post please here the contents of `/etc/network-environment` *both* when things go wrong and after the manual restart of setup-network-environement.service that induces the expected behavi

[2015-04-10 14:22] rubenv commented on #59
Upon initial boot, there is no `/etc/network-environment`. After restarting the service:
[code]

[2015-04-10 14:27] AntonioMeireles commented on #59
@rubenv by parts ...

a) destroy existing VMs (vagrant destroy -f)
b) recreate everything
c) `vssh master`
    wait for things to fail.
    `systemctl status setup-network-environement`<< paste results.
    `journalctl -u setup-network-environement --no-pager --lines=500` << paste results
    `systemctl list-units` << paste ...
    `cat /etc/network-environment` << paste results (may or not be emp

[2015-04-10 17:34] rubenv commented on #59
Here you go:

Initially: https://gist.githubusercontent.com/rubenv/caade42ba89e9f64945a/raw/b89844e5f604665530bb13adc91c13b1db05b18e/gistfile1.txt

Boot it: https://gist.githubusercontent.com/rubenv/96759eedca6cfe48f2c1/raw/8bbd664ab8e3c3e786c1b6c37e043cedc4221fe6/gistfile1.txt

Status: https://gist.githubusercontent.com/rubenv/a6e798e5d8ca518439a3/raw/d91609b7c36a721e7177d561bfa44f011c0e48bf/gist

[2015-04-10 17:53] AntonioMeireles commented on #59
ah, for some reason the system is taking too long to get dns setup. dunno yet why.

[2015-04-11 13:14] pires commented on #59
Can we just force DNS set-up? Something like `echo 8.8.8.8 > /etc/resolv.conf`?

[2015-04-12 21:42] frosenberg opened #60 "DNS integration - how to access DNS server or other services?"
I ran your scripts, works perfectly fine so far.

However, I have a question on the DNS integration:
[code]

I see those services running now but I have no way of accessing the DNS server for example. The following times out (assuming I have `webui` as a service deployed):

[code]

Actually, every ping to any of the service IPs times out. I presume this means that all k8s services are inaccessible

[2015-04-13 08:01] pires commented on #60
All k8s services are only accessible from inside the cluster. Unless you set publicIPs flag to an IP address you can access from your host.

[2015-04-13 16:35] wkharold opened #61 "Specify cloud provider to kube-apiserver"
Use the -cloud_provider switch to tell k8s what the cloud provider is being used.

Acceptable values (per https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/kube-env.sh) are: 'gce', 'gke', 'aws', 'azure', 'vagrant', 'vsphere', 'libvirt-coreos', 'juju'

[2015-04-13 20:33] pires commented on #38
It's working now.

[2015-04-13 20:33] #38 closed

[2015-04-14 13:33] #61 closed

[2015-04-14 15:01] pires commented on #60
Please run the following
[code]

`default` is the namespace being used, which in case it's not explicitly set defaults to `default`.

[2015-04-14 15:44] frosenberg commented on #60
Thanks. I was missing the default part. I should have better RTFM :)

[2015-04-14 15:44] #60 closed

[2015-04-14 15:47] pires commented on #60
Great @frosenberg.

[2015-04-16 10:51] pires opened #65 "Replace env vars in ~/.bash_profile with sed"
This is to be implemented in `setup` script.

[2015-04-16 10:52] pires commented on #52
This same issue applies for all environment variables that we set but are not reused during cluster lifecycle. We should find a way to write-and-read this info from a persistent media, i.e. a file.

[2015-04-21 14:38] analytik opened #67 "Missing kubetctl"
Hi,

I'm probably doing something terribly wrong, but I'm using Windows as host with the latest Vagrant, VirtualBox, etc.

I run vagrant up, connect to master node, and cannot find kubectl nor kubectl.sh anywhere, nor the "cluster" directory. So far the only thing I found was
```core@master / $ ls /opt/bin/```
```kube-apiserver  kube-controller-manager  kube-register  kube-scheduler  setup-network

[2015-04-21 14:49] pires commented on #67
Hey @analytik, didn't you see anything like this in the terminal?
[code]

[2015-04-22 06:53] analytik commented on #67
Hi @pires, thanks, but I have not seen anything like that. I only get
[code]
I understand if Kubernetes does not support Windows as a platform to run on, whether as a master or a minion, but why would it be a problem for Windows to run a **Vagrant** machine with Linux?

I know this a bit ridiculous, but could I get it running (as a development machine) as
[code]
or do you think would it be more re

[2015-04-22 12:13] pires commented on #67
The scripts I provide do not work properly in Windows systems. I'm sorry.

[2015-04-22 12:19] analytik commented on #67
Ah. I didn't examine the vagrant setup files in detail, so I was hoping it wouldn't need anything from the host OS. My bad.

Still, thank you for investing time into this project. :)

[2015-04-22 14:10] pires commented on #67
@analytik sorry dude. Thanks for your kind words, nonetheles.

[2015-04-22 15:32] l3ubbleman opened #68 "kube2sky failed to connect to etcd server"
![screen shot 2015-04-22 at 11 28 33 am](https://cloud.githubusercontent.com/assets/6844972/7278359/fc0ca3c4-e8e2-11e4-8c8c-1bdeda06bbed.png)

I followed the instructions for setting up the kubernetes cluster in the README. It seems that the etcd version you're using for your kube2sky pod is not supported by kube2sky?

[2015-04-22 15:59] pires commented on #68
@l3ubbleman thanks for reporting back. It seems CoreOS bundles `etcd` 2.0.8 and `kube2sky` only works with <= 2.0.7. Working on a fix.

[2015-04-22 16:00] pires commented on #67
Reopening for proper handling of Windows hosts, namely terminate `vagrant up` with the information that Windows is not supported.

[2015-04-22 16:48] pires commented on #68
[code]

[2015-04-22 16:48] #68 closed

[2015-04-24 19:21] l3ubbleman opened #72 "Failed to mutate etcd when using mutator"
![screen shot 2015-04-24 at 3 15 21 pm](https://cloud.githubusercontent.com/assets/6844972/7326606/d1cb4080-ea94-11e4-8cea-637ebf16a82d.png)

On startup the k8s-dns pod containers work fine, but usually when I delete them and the controller brings it back up, I get the above message when I enter "kubectl log <k8s-dns pod> kube2sky" and for "kubectl log <k8s-dns pod> skydns" I get:

![screen shot 2

[2015-04-24 19:32] l3ubbleman commented on #72
Not sure if it's related but I can't curl the dns records being set. I can curl the ones they're being mapped to.

![screen shot 2015-04-24 at 3 31 49 pm](https://cloud.githubusercontent.com/assets/6844972/7326919/0e634d4c-ea97-11e4-8240-7d44ae224f44.png)

[2015-04-24 20:23] jsindy opened #73 "vagrant trigger failing?"
Any ideas?

kubernetes-vagrant-coreos-cluster jsindy$ vagrant up
Installing the 'vagrant-triggers' plugin. This can take a few minutes...
Bundler, the underlying system Vagrant uses to install plugins,
reported an error. The error is shown below. These errors are usually
caused by misconfigured plugin installations or transient network
issues. The error from Bundler is:

An error occurred while in

[2015-04-24 21:05] jsindy commented on #73
Fixed environment with brew update; brew upgrade on OSX and reinstall of vagrant.

[2015-04-24 21:05] #73 closed

[2015-04-25 01:08] heytrav opened #74 "Unable to get kube2sky/skydns set up properly"
I'm having some problems getting DNS resolution to work in my cluster using the `dns-controller.yaml` configuration. Once I have the cluster up and running, I can see that the `k8s-dns` pod is running, however I don't seem to be able to resolve hosts from within the containers. For lack of examples to work from, I am not really sure if I am just "doing it wrong" or if it is set up incorrectly. The

[2015-04-25 01:41] pires commented on #72
That's weird, the first logs indicate you lost communication to `etcd` but the second ones show everything working OK. Now I guess you're facing #74. Will look into it during the weekend.

[2015-04-25 01:42] pires commented on #74
I'm looking at this over the weekend. Thank you for reporting.

[2015-04-25 02:19] l3ubbleman commented on #72
The first logs were from me deleting the pod and the controller bringing them up. The second logs were from the pods being created by bringing up the cluster through vagrant

[2015-04-25 02:39] pires commented on #72
Another thing in the first logs, the IP address of the `dns` pod is not a flannel address. Did you change anything?

[2015-04-25 02:47] pires commented on #74
So @heytrav you have no results when running `dig elasticsearch.default.k8s.local` from within a pod container?

[2015-04-25 02:52] heytrav commented on #74
Correct, it just seems to timeout.

On 25 April 2015 2:47:22 PM NZST, Paulo Pires <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-04-25 02:59] pires commented on #74
Can you be more specific about the error you have with `curl`?

[2015-04-25 03:01] heytrav commented on #74
[code]

[2015-04-25 03:02] heytrav commented on #74
[code]

[2015-04-25 03:09] pires commented on #74
This should be `10.100.0.10". Definitely need to debug this further.

[2015-04-25 03:10] pires commented on #74
@heytrav can you try `dig @10.100.0.10 elasticsearch.default.k8s.local` and report back the results?

[2015-04-25 03:13] heytrav commented on #74
[code]

[2015-04-25 03:15] heytrav commented on #74
While I was running `vagrant up --provision`, I do vaguely remember seeing an error message during DNS setup about `10.100.0.10` already having been allocated. I wasn't sure if it was because skydns was already in place or because it trying to start that pod.

[2015-04-25 03:30] pires commented on #74
Care to destroy everything dns related and bring that up again?

[2015-04-25 11:00] heytrav commented on #74
I rebuilt the cluster. While starting it I saw the following error and am seeing the same result as before when I try to `dig` or `curl` hosts from within containers:
[code]

I have seen the following error when restarting vagrant:
[code]

[2015-04-25 12:31] pires commented on #74
OK. Will need to check on this. Thank you.

[2015-04-25 21:23] l3ubbleman commented on #72
I have just retried with a clone of your repo again. The same thing happens, however it was after I deleted the pod twice this time that the error happened again.

[2015-04-27 13:57] pires commented on #72
This is probably a `kube2sky` bug.

[2015-04-27 21:21] pires commented on #74
This seems to been [an issue with Kubernetes as well](https://github.com/GoogleCloudPlatform/kubernetes/issues/7389).

[2015-04-27 21:43] pires commented on #72
Why are you deleting the pod, anyway? I wasn't able to reproduce this in a way that I believe will affect regular users.

[2015-04-28 08:07] azimut commented on #74
doing s/kube-dns/k8s-dns/g on dns/dns-service.yaml fixed the issue for me

[2015-04-28 08:58] heytrav commented on #74
:+1:  I'd like to test this a bit, but it seems to have fixed it for me as well.

[2015-04-28 14:16] #74 closed

[2015-04-28 15:01] l3ubbleman commented on #72
It was for testing if the dns pod goes down, that it would properly bring it back up again. If that pod goes down, wouldn't it prevent me from using dns records to look up my services?

![screen shot 2015-04-24 at 3 22 46 pm](https://cloud.githubusercontent.com/assets/6844972/7372562/73282134-ed95-11e4-9d12-d693c4d48d56.png)
And the logging for kube2sky is misleading because it seems to say that i

[2015-04-28 15:04] pires commented on #72
@l3ubbleman can you open an issue on the `kube2sky` project and link this issue? I believe it's their issue.

[2015-04-29 14:20] l3ubbleman commented on #72
This seems to be fixed with #75

[2015-04-29 14:20] #72 closed

[2015-04-29 15:47] pires commented on #72
Awesome @l3ubbleman

[2015-04-29 20:57] frosenberg commented on #60
Is there a way to remove the namespace `default` or set it to something else? I could not find anything in the vagrant file.

[2015-04-29 22:29] ericgray opened #76 "Ethernet device named ens34 instead of eth1 on Fusion"
I was able to successfully get this working on VMware Fusion along with the Kubernetes Guestbook example.  Strange networking issues due to cloud-config files referring to interface eth1, which is correct on VirtualBox, but not on Fusion.

I modified `master.yaml` and `node.yaml` to refer to ens34 instead of eth1.  Works.

It may be helpful to find a way to conditionally use the applicable interfa

[2015-04-29 23:04] pires commented on #60
@frosenberg I've not yet had the need for [namespaces](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/namespaces.md). But feel free to open a PR.

[2015-04-29 23:16] pires commented on #76
Hi @ericgray, thank you so much for getting back with this valuable information. I'll be working on updating documentation and a way to fix this, but only after I understand why CoreOS names the interfaces that way. Could you please provide more details?

[2015-04-29 23:43] ericgray commented on #76
Looking at the systemd journal from CoreOS, the following line is relevant:

Apr 29 23:21:01 localhost kernel: e1000 0000:02:01.0 ens33: renamed from eth0

It appears that systemd has a new device naming convention:

http://www.freedesktop.org/wiki/Software/systemd/PredictableNetworkInterfaceNames/

Perhaps differences in the virtual hardware attributes exposed by VirtualBox and by Fusion cause di

[2015-04-30 09:35] reasn opened #77 "Can't resolve anything via DNS after vagrant reload"
Thanks for this awesome project!
Preliminary remark: During the last days I followed up on https://github.com/pires/kubernetes-vagrant-coreos-cluster/issues/74 and cloned your master branch just a few hours ago.

[code]
Looks like everything is alright.

Now I spin up a stock nginx and a corresponding service from
https://gist.github.com/reasn/bfbf9425606873b58021 like so:
[code]
If I now ```vagra

[2015-04-30 12:13] pires commented on #77
What's the error when you ping? Services are not pingable but you should have the address resolved. Try nslookup

[2015-04-30 13:09] reasn commented on #77
Thanks for your response!
```ping svc-nginx.default.k8s.local```inside the nginx-container returns (after a while):
[code]
That means the resolve worked.
I have no idea why it did work now.

But if I ```vagrant reload```things it stops to work (I might have done that before as well, sorry for that. I fixed the description).

If I - after having issued ```vagrant reload``` once - do the same ping i

[2015-04-30 13:29] reasn commented on #77
Can confirm, it's the reload, just updated the issue

[2015-04-30 13:40] pires commented on #77
@reasn thank you for debugging. I'm providing a fix today if work allows!

[2015-04-30 13:46] reasn commented on #77
Wow. Awesome!

[2015-04-30 14:40] pires commented on #76
Thank you @ericgray. I'll need to think of a way to workaround this, because right now I have no idea on how to dynamically get/set this information.

[2015-04-30 21:10] #77 closed

[2015-04-30 23:22] pires commented on #67
So @Hikariii is helping on this!

[2015-04-30 23:22] pires commented on #46
So @Hikariii is helping on this!

[2015-05-03 11:53] pires commented on #76
Fixed by #82.

[2015-05-03 11:53] #76 closed

[2015-05-03 11:53] pires commented on #59
@rubenv care to try latest master? I think #80 may have fixed this.

[2015-05-06 00:13] #59 closed

[2015-05-06 00:14] pires commented on #67
Fixed by #81.

[2015-05-06 00:14] #67 closed

[2015-05-06 00:14] pires commented on #46
Fixed by #81.

[2015-05-06 00:14] #46 closed

[2015-05-06 09:28] rubenv commented on #59
I'm sorry, I haven't had the time yet to test this. Sadly my VMWare Fusion + Vagrant is also acting up (Hashicorp is looking into it). Will have a look at it, at some point.

[2015-05-08 07:17] sandric commented on #65
Maybe it is better to create separate .sh file for env variables instead of .bash_profile? For example if user uses fishshell(as I do), or zsh? I think there's a point in moving it out to separate file.

[2015-05-08 07:21] sandric opened #86 "Single-node cluster if num-instances set to 1?"
It would be a handy feature to set up single-node cluster with user-data similar to one from https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/coreos_single_node_cluster.md
How do you think?

[2015-05-08 07:39] pires commented on #65
For as long as it's simple to any user I'm OK with it. At first, we had
said separate file, but a lot of novice users forgot to run it, etc. So I
moved to this approach.

I'm always eager for PRs
On May 8, 2015 08:17, "sandric" <notifications@github.com> wrote:

[2015-05-08 07:59] pires commented on #86
From the top of my mind it would implicate a lot of refactoring of the Vagrantfile. I'm open to review a PR.

[2015-05-08 08:08] sandric commented on #86
Ok, I'll try my best)

[2015-05-10 01:55] wstrange opened #87 "Disable VirtualBox DHCP server"
Why is this required, and will it impact other VirtualBox VMs?

Can you add a note on this

[2015-05-10 10:50] pires commented on #87
This is highly recommended because otherwise you may have issues with Kubernetes cluster networking. Many users reported good clusters going awry and after some time debugging we realized it was caused by Virtualbox DHCP changing VMs IP addresses.

Yes, this will most probably have impact on other VMs that rely on the same NIC we've disabled DHCP server.

Probably, this will no longer have impact

[2015-05-10 20:43] wstrange commented on #87
OK - I found that the cluster would not come up with DHCP enabled. DNS resolution on the minion seemed broken.  I dont know enough about coreos, but it seems like the host only network should be configured to ignore the external DNS and hard wire the IP.

[2015-05-10 20:43] #87 closed

[2015-05-10 20:52] pires commented on #87
I'm open to review a PR :)
On May 10, 2015 21:43, "Warren Strange" <notifications@github.com> wrote:

[2015-05-11 17:43] errm commented on #65
Could this be implemented as a script in /etc/profile.d/

[2015-05-11 19:12] pires commented on #65
@errm I don't believe so.

[2015-05-12 20:44] Hikariii opened #89 "Upgrade to 0.17.0"
A new version of kubernetes has been released.
https://github.com/GoogleCloudPlatform/kubernetes/releases/tag/v0.17.0
All parts of kubernetes and kubectl are released with v0.17.0

[2015-05-12 21:05] pires commented on #89
@Hikariii I already have a PR ready for that, I'm just waiting the release notes to get out. Have had enough goose chases in the past for not having those.

[2015-05-12 22:12] pires commented on #89
Initial tests validate my changes are working, though.

[2015-05-13 05:47] Hikariii commented on #89
I will test my windows setup today. I was wondering how we could make sure a new version isn't breaking, but I guess release notes and a lot of testing are the only way.

[2015-05-13 08:25] #89 closed

[2015-05-13 08:27] pires commented on #89
@Hikariii we can't. Even the Kubernetes guys who have a lot o E2E tests can't guarantee that one.

[2015-05-13 12:31] alexei-led opened #92 "Cluster does not work behind HTTP proxy"
I'm trying to run a Kubernetes cluster behind corporate HTTP proxy. I'm also using vagrant-proxyconf plugin, and define http/s proxy and no_proxy hosts there.
Custer nodes fail to start with "Failed to start Docker Application Container Engine." error.

[2015-05-13 14:17] pires commented on #92
@alexei-led there's a lot of _downloading_ happening when bootstrapping the VMs and when provisioning pods/containers. You probably fixed the first but need to [fix the second as well](https://coreos.com/docs/launching-containers/building/customizing-docker/#use-an-http-proxy).

I'm more than happy to review a PR that handles this.

[2015-05-13 14:24] alexei-led commented on #92
Beside configuring proxy for proxyconf vagrant plugin, I've also tried to run a provision shell script, which checks if my machine is located behind proxy and then if Vagrant box is running CoreOS creates there required http-proxy.conf file (as described in documentation, you've sent).
The problem is that this provision shell script is executed only for master box and not for nodes.
Any idea why?

[2015-05-13 14:42] pires commented on #92
@alexei-led it will depend on where in the `Vagrantfile` you have the call to said script. If you want, please open a PR with your current work so that I can review it and help you as you go.

[2015-05-18 20:54] heytrav opened #95 "network environment fails to start"
Just updated to `v0.17.0`. When I bring up the vm with `vagrant up` and `ssh` into the nodes I'm seeing:

[code]

[2015-05-18 21:10] pires commented on #95
Did you download the archive or cloned the repo?

Anyway, https://github.com/pires/kubernetes-vagrant-coreos-cluster/commit/c9a53f7840a855bd5fc83a0e9e488a101f3f2f24 should've fixed it.

See https://github.com/pires/kubernetes-vagrant-coreos-cluster/releases/tag/0.17.0-1

[2015-05-18 21:44] heytrav commented on #95
I'm working on a fork and have been rebasing on top of this one. I'm rebuilding right now to see if I just messed up something.

[2015-05-18 22:30] heytrav commented on #95
Ok, looks like it *does* work for me now. Sorry for the confusion.

[2015-05-19 02:35] vnc-zestfinance opened #96 "skydns:2015-03-11-001 failing with exit code 2"
if i do kubectl get pods, it is continuously failing.  perhaps an issue with latest kubernetes?  i am running your latest master branch

[2015-05-19 07:53] pires commented on #96
I just can't reproduce. Can you share skydns logs?

[2015-05-19 08:38] jdojff opened #97 "Private repository pull failed"
Hello, I'm using private repository to store docker images. I have setup cluster also providing docker cfg. When starting pods I receive:
myservice registry.my.com/user/myservice Waiting image pull failed for registry.my.com/user/myservice, this may be because there are no credentials on this request. details: (Authentication is required.)

However, I'm able to pull these images directly with dock

[2015-05-19 09:57] MaxDaten commented on #96
I've got the same problemen.

I'm a absolute beginner with kubernetes  (hours). But I tried to get some logs, but I'm afraid my obtained logs aren't really useful. The cluster is started without any custom environment variables with `vagrant up`. Any hints how to get better logs?

[code]

[code]

[code]

[code]

[code]

[2015-05-19 11:00] heytrav commented on #95
Actually this is still happening. I thought things were working, but when I bring the VM up with vagrant up and log into master I see:
[code]
`systemctl status setup-network-environment.service` I see:
[code]
I'm currently on https://github.com/pires/kubernetes-vagrant-coreos-cluster/releases/tag/0.17.0-1

[2015-05-19 11:07] pires commented on #96
This shouldn't happen. Will investigate further.

[2015-05-19 11:09] pires commented on #95
Probably, some temporary problem with AWS or something that I just can't replicate.

[code]

[2015-05-19 11:09] #95 closed

[2015-05-19 11:11] pires commented on #97
Please share actual logs.

[2015-05-19 11:24] MaxDaten commented on #96
okay thx for your time. tell me if I can provide further informations or test something out.

[2015-05-19 11:33] pires commented on #96
I think I got it thanks to your feedback @MaxDaten.

[2015-05-19 11:52] pires commented on #96
It's very interesting that you give two different logs with different timestamps.

This doesn't work.

This does.

[2015-05-19 12:47] jdojff commented on #97
Not sure which one..?
docker events only shows gcr.io/google_containers/pause:0.8.0 image container being created and started, which itself does not log anything.
There is no sign of myservice image pulling and starting..

[2015-05-19 12:50] MaxDaten commented on #96
sorry my fault, i messed it up and tried to correct it with an (incomplete) edit of the post:

the first (2015-05-19T09:39:35.542806988Z) one was after deactivating the `livenessProbe` for skydns in `dns-controller.yaml.tmpl` (comment [dns/dns-controller.yaml.tmpl#L55](https://github.com/pires/kubernetes-vagrant-coreos-cluster/blob/master/dns/dns-controller.yaml.tmpl#L55) to [dns/dns-controller.ya

[2015-05-19 13:37] pires commented on #97
Where did you see the errors you described above?

[2015-05-19 13:50] janroos commented on #97
Same issue here. It started today after I updated. Using on Windows through Vagrant. Probably got new versions of your code and new CoreOS (681.0.0) at the same time.

After doing successful docker login, I have copied the .dockercfg from /home/core to / and /root and /var/lib/kubelet. Nothing seems to help. When I ssh to node and do docker pull, it works.

Some logs from node's journalctl

May 19

[2015-05-19 13:55] janroos commented on #97
More logs from node's journalctl.

May 19 13:53:05 node-01 dockerd[5649]: time="2015-05-19T13:53:05Z" level=info msg="-job pull(ent.changed.com:5000/firewall, latest) = ERR (1)"
May 19 13:53:05 node-01 kubelet[1442]: W0519 13:53:05.378777    1442 manager.go:1403] Failed to pull image "ent.changed.com:5000/firewall:latest" from pod "firewall-scqcn_default" and container "firewall": Authentication i

[2015-05-19 14:16] pires commented on #97
Please see https://github.com/GoogleCloudPlatform/kubernetes/issues/7954

[2015-05-19 22:41] pires commented on #96
It's something with the `livenessProbe`. If I remove it, everything works.

Trying to fix the liveness probe instead of removing it.

[2015-05-19 22:44] heytrav opened #98 "kube-apiserver wupiao not getting response from etcd2"
This seems to happen whenever I've shutdown vagrant and try to restart it again with `vagrant up`.

* `kube-apiserver` hangs on `wupiao` dependency endlessly
[code]

* `etcd2` seems to be up and listening on `http://localhost:2379` while `wupiao` is pinging `http://172.17.8.101:2379`

[code]

[2015-05-19 22:53] pires commented on #96
And so it is an upstream bug, so sorry for bringing this to the tree.

Am preparing a PR. Thank you for reporting.

[2015-05-19 22:59] pires commented on #96
https://github.com/GoogleCloudPlatform/kubernetes/issues/8538

[2015-05-19 23:03] pires commented on #98
I do not see how is it possible to just listen on `localhost`, https://github.com/pires/kubernetes-vagrant-coreos-cluster/blob/master/master.yaml#L23.

[2015-05-19 23:09] heytrav commented on #98
I'm not really sure why either. When I build the VMs everything works ok. However this seems to happen whenever I `vagrant halt` and then later `vagrant up`. At first I was wondering why it just seemed to wait forever to bring up the master node. When I  ssh into master and start looking at `journalctl -f`  and `systemctl status etcd` output, that's what I see.

[2015-05-19 23:13] pires commented on #98
The only place we run `halt` hooks is https://github.com/pires/kubernetes-vagrant-coreos-cluster/blob/master/Vagrantfile#L267.

[2015-05-19 23:35] heytrav commented on #98
Ok, sorry I'm a bit confused. Mainly because this had always worked in the past. I routinely run `vagrant halt` to shut down the kubernetes VMs on my laptop. Is `halt` not supposed to be used?

[2015-05-20 02:51] vnc-zestfinance commented on #96
Thanks pires for fixing the issue.  Appreciate that MaxDaten provided all the needed info!  Will check this out to make sure it is fixed now..

[2015-05-20 02:54] wstrange commented on #98
I also see issues when doing a vagrant halt / vagrant up.

The master hangs forever trying to boot. I see this with journalctl:

May 20 02:48:50 master locksmithd[487]: Unlocking old locks failed: [etcd.service etcd2.service] are inactive. Retrying in 1m20s.

Which looks like some kind of lock file issue.

[2015-05-20 05:45] vnc-zestfinance commented on #96
Unfortunately, issue continues to occur.

[code]

[2015-05-20 05:57] heytrav commented on #98
@wstrange what do you see when you do `journalctl -f kube-apiserver`?

[2015-05-20 09:00] pires commented on #98
On systems like Kubernetes, a shutdown is catastrophic. In case of a `minion`, it's just removed for instance.

Anyway, care to show me the contents of the cloud-config that are inside `master` and `minion` after `halt` and `up`, @wstrange @heytrav?

[2015-05-20 09:18] pires commented on #96
@vnc-zestfinance did you rebuild the cluster?
[code]

@MaxDaten can you confirm it's working?

I have it working here.
[code]

[2015-05-20 10:28] heytrav commented on #98
After `vagrant halt`/`vagrant up`. It hangs waiting for master to become ready and never gets to the minions.  The cloud-config.yml file for the master is [here](https://gist.github.com/heytrav/6ae2f96fda07576d731b).

[2015-05-20 10:39] MaxDaten commented on #96
@pires Sadly 'skydns' is still restarted every ~30 seconds for me according to:
[code]

but `uptime` gives:
[code]

but this could be just the pod uptime not the container uptime.

[2015-05-20 10:41] pires commented on #98
@heytrav I want `/var/lib/coreos-vagrant/vagrantfile-user-data`.

[2015-05-20 10:42] AntonioMeireles commented on #96
@pires - it looks that atm livenessProbes are totally busted in upstream. expecting them to behave in any form may be too much right now ... IMHO disabling them for now is the right thing to do ...

[2015-05-20 10:43] pires commented on #96
@AntonioMeireles yes, it seems so. Meh.

[2015-05-20 10:43] pires commented on #96
And I just realized the `uptime` shows the host uptime. Bummer.

[2015-05-20 10:44] AntonioMeireles commented on #96
/me points to https://github.com/AntonioMeireles/kubernetes-vagrant-coreos-cluster/commit/a60657da430be14474928c04a18f2828d462ea51 (link to upstream soap opera there)

[2015-05-20 10:47] heytrav commented on #98
Looks like it doesn't exist
[code]

So basically if I understand correctly, once a Vagrant-Kubernetes cluster has been created, it can't be shutdown again? I'd been routinely when I'm not developing stuff with it.

[2015-05-20 10:52] pires commented on #98
I've linked the code that's causing the file to be removed. We just need it to be copied again.

[2015-05-20 10:55] MaxDaten commented on #96
okay :(
a bit off:  what is good method to test the dns resolution manually on the cluster on my own? where and how should I run `nslookup`/`dig`?

thx for investigating this. so we have to wait for a working probing.

[2015-05-20 10:55] #96 closed

[2015-05-20 10:56] pires commented on #96
@MaxDaten `kubectl exec -p kube-dns-wnfa4 -c skydns nslookup kubernetes.default.kubernetes.local localhost`. Replace `kube-dns-wnfa4` with your pod ID.

[2015-05-20 10:57] pires commented on #96
@vnc-zestfinance @MaxDaten please rebase your clones and let me know.

[2015-05-20 10:59] #92 closed

[2015-05-20 10:59] pires commented on #65
Fixed by #94

[2015-05-20 10:59] #65 closed

[2015-05-20 11:01] pires commented on #98
@windwizard care to check on this? It seems your #93 broke said behavior.

[2015-05-20 11:32] MaxDaten commented on #96
seems to work now.
[code]

[code]
---
but now I bumped against a completely _unrelated_ problem. Consecutive calls of `kubectl get pods` behaves really different. For Example:

[code]
[code]
[code]
[code]
[code]

then I have to wait couple of minutes to get `kubectl get pods` to work again. Which is strange, the last two days this was completely reliable.

[2015-05-20 11:38] pires commented on #96
Sorry for the spam but it's working here. Could it be something related to your networking? Do you have Virtualbox DHCP server turned-on?

[code]

[2015-05-20 12:36] MaxDaten commented on #96
The Virtualbox DHCP servers was turned on, turned them of, without change in the new behavior.

[code]

[code]

Created 24 minutes? It seems there is a vm stuck.

[code]
Two running masters. so `vagrant destroy -f` again and deleted the pending master, fresh start:

[code]

and it's now reliable again. sorry for my spam about this. dns seems to work now. now I can continue with some guides. Thanks

[2015-05-20 13:29] pires commented on #96
Yeah, probably some VM garbage. Thank you for your invaluable feedback @MaxDaten :)

[2015-05-20 14:43] janroos commented on #52
To persist variables, I am using it like this:
echo NUM_INSTANCES=1 MASTER_MEM=1024 MASTER_CPUS=2 NODE_MEM=2048 NODE_CPUS=2 vagrant \"\$@\" > v
chmod +x v
./v up

[2015-05-20 18:55] pires commented on #97
@janroos I've had issues with something like this before, and in the end it wasn't related to `docker` stuff at all but rather the `kubelet` not being able to read `.dockercfg`. I've just merged @AntonioMeireles 93cebf8 hoping to fix it. Can you please retry with it and let us know?

[2015-05-20 19:24] pires commented on #52
Interesting @janroos. Thanks for sharing. But I would like something like a trigger on the `Vagrantfile` that would read values from a file. Such values would only be preceded by environment variables previously set.

[2015-05-21 03:54] windwizard commented on #98
@pires  Sorry, It's my fault. by default, my #93 will remove the vagrantfile-user-data for every vagrant halt / reload. And it suppose to run 'vagrant up --provision' or 'vagrant reload --provision' to re-generate the file.

I've made #99  to fix this issue. Sorry for the trouble

[2015-05-21 05:00] vnc-zestfinance commented on #96
It works now! Thanks @pires for fixing it.

[2015-05-21 07:46] janroos commented on #97
Thanks Pires! Tried but unfortunately it did not help. The .dockercfg gets copied from host to /home/core and to /root.

Works when I manually do docker pull or sudo docker pull

[2015-05-21 07:51] janroos commented on #97
For others that are struggling with this. Here's my current workaround:

Run this on all nodes:
journalctl | grep -o 'Failed to pull image "[^"]*' | grep -o ent.ch**|sort -u|xargs -L1 docker pull
sudo systemctl restart docker

Explanation:
It greps the logs for errors pulling from private registry (in my case registry address starting with "ent.ch"), filters out duplicates and then runs docker pul

[2015-05-21 08:22] #98 closed

[2015-05-21 08:23] pires commented on #97
This is something with the kubelet. Can you please share logs?

[2015-05-21 08:51] janroos commented on #97
Maybe worth to note here is that I am using self-signed certificate. Here's how I install it on every coreos host:

cp self-signed.pem /etc/ssl/certs/
sudo update-ca-certificates
sudo systemctl restart docker

After this was done, I ran on master:
kubectl create -f firewall-controller.yaml

This is the whole log of a node.
https://dl.dropboxusercontent.com/u/57064515/node.log

Search for "firewall

[2015-05-21 09:22] pires commented on #96
@vnc-zestfinance thank you for reporting and bearing with me until a fix was done.

[2015-05-21 09:22] pires commented on #98
Care to try it now @heytrav?

[2015-05-21 09:24] pires commented on #97
[code]

This is it. I've seen this before and @erictune at the time told me what it was - IIRC something with the `kubelet`. I will try and hunt for what fixed it.

[2015-05-21 10:29] MaxDaten commented on #96
@pires I have to thank you for investigating this.

[2015-05-21 11:03] heytrav commented on #98
:+1:  Looks good. It no longer hangs bringing up master and the cloud-config for the nodes looks like the node.yaml file.

[2015-05-21 11:28] pires commented on #96
@MaxDaten don't mention it. Thank you for bearing with me as well. Feedback is more than appreciated, guys!

[2015-05-21 11:28] pires commented on #98
@heytrav thank you for taking the time to debug this.

[2015-05-21 16:11] MaxDaten opened #100 "`vagrant halt && vagrant up` supported?"
me again. Is `vagrant halt` supported? Currently it seems booting the cluster up again hangs in waiting for the master to become ready, or at least booting up is extremely slow. Or is this a kubernetes problem?

With a fresh start:
[code]

during this, I can ssh into the master with `vagrant ssh master` in a different shell. The master is up but the api is not accessable:

[code]

Is this a known

[2015-05-21 17:32] pires commented on #100
There's a lot of stuff that needs to be downloaded and bootstrapped. I've seen clusters taking up to 5 minutes while others take 45 seconds. Internet speed, for instance, is a major factor.

[2015-05-21 21:10] MaxDaten commented on #100
Yes I observed this. I hoped that `vagrant halt && vagrant up` is a bit faster after the initial `vagrant up`, especially with docker cache in the cluster. But `vagrant up` after a `vagrant halt` seems to be a way slower than a fresh initial `vagrant up`.

- timed the first initial vagrant up:
  - `vagrant up  7.85s user 4.40s system 4% cpu 4:51.01 total`
- timed vagrant up after vagrant halt:
  -

[2015-05-21 21:17] pires commented on #100
I don't even expect Kubernetes stuff to actually survive a halt. It's not meant to do it, yet. There are dozens of issues related to high-availability and reboot-survival.

Anyway, if you can dive deep and figure out what's going on, I'm more than open to analyze all your feedback and eventually provide a workaround.

[2015-05-21 21:36] MaxDaten commented on #100
okay, I can live wit it. I was just curious if this a 'normal' expected behaviour. When I've gained more insight into Kubernetes I can try to investigate it further.

[2015-05-21 22:09] heytrav commented on #100
At any rate it would be nice if it were supported. I run this on my laptop and can't always afford to have it going constantly. I frequently need to shut things down on long trips due to battery, etc. Lately I often need to rebuild my entire environment from scratch which can be quite time consuming.

[2015-05-21 23:27] pires commented on #100
Kubernetes is made for the cloud not one's laptop. This is for development purposes and ofc we will find a lot of stuff that's just hard to support.

One other solution is to build your own binaries and provide them + having a local registry with all images used for DNS containers.

[2015-05-21 23:52] heytrav commented on #100
Probably a bit misleading then that the opening line of the [Kubernetes vagrant wiki](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/vagrant.md) says:

[2015-05-22 01:59] pires commented on #100
This project is not related to official Vagrant support. And I doubt it works as you expect. Let me know of your findings.

[2015-05-22 20:13] tslater opened #101 "Timeouts when trying to post to connect"
When I install (or try and use kubectl subsequently) I get errors when trying to connect to the api:
[code]
I made sure to run ```VBoxManage dhcpserver remove --netname HostInterfaceNetworking-vboxnet0```
...and have tried rebuilding the whole thing multiple times.
My .bash_profile has the following added to it:
[code]

Should those be matching? Is there a hidden config for kubectl?

[2015-05-23 00:23] tslater commented on #101
Hold on, I think i might have found ~/.kube/config

[2015-05-23 02:44] wstrange commented on #101
I recently updated my google gcloud tools - and it caused kubectl to stop working. kubectl now looks in ~/.kube/config

A quick and dirty fix is to move this file (config.bak)

You can also edit this file and add:
- cluster:
    server: http://172.17.8.101:8080
  name: vagrant-k8

Then set your context with kubectl to be vagrant-k8

[2015-05-23 11:34] pires commented on #101
10.245.x.x is not even addressing used in this project.

Thank you @wstrange

[2015-05-23 11:35] #101 closed

[2015-05-24 16:14] CaptTofu opened #102 "failure with vmware_fusion on OS X"
Hi there! I can't get this cluster working. It was working flawlessly last weekend. I'm not sure what changeset makes it fail.

Sometimes, it fails because the resolver isn't set up on any of the virtual machines so none of the services that rely on using wget to obtain binaries work.

Other times, I get this failure with setup-network-service (a 403 from github/s3)

Patricks-MacBook-Pro:kubernete

[2015-05-24 17:08] CaptTofu commented on #102
If I remove the -N from the wget line, it succeeds. I did try setting the timezone to NY/Eastern, still no go

[2015-05-24 19:36] CaptTofu commented on #102
without -N, it will work, but when it gets past that, it fails because nothing is set in /etc/resolv.conf

[2015-05-25 08:24] pires commented on #102
Can you please show logs of what happens when the download succeeds? Cause right now, all I can see is that AWS is borking the download process.

[2015-05-25 12:34] CaptTofu commented on #102
sure, thanks for the reply on a weekend!

Note - this is with me having removed the -N from master.yaml and rebuilding. My big problem now is that there is no name resolution. How can I get that to work? The resolv.conf on all VMs is empty. I've tried restarting systemd-resolved to no avail. I could try hard-coding a DNS server but would like to figure this out.

Here's the download from journal:

[2015-05-25 15:26] pires commented on #102
Are you behind a proxy?

[2015-05-25 16:12] CaptTofu commented on #102
No proxy, straight up regular ISP connection.

I have a work-around that I made that sets DNS to use 8.8.4.4 and 8.8.8.8 as well as removed -N from wget pushed up to https://github.com:/CaptTofu/kubernetes-vagrant-coreos-cluster.git, issue_102 branch. I'm haven't made a pull request because I know it's just duct tape, but wanted to let you see what made it work for me.

Do you use vmware or virtua

[2015-05-25 16:59] pires commented on #102
I use VirtualBox and I have no such issues.

[code]

[2015-05-26 11:41] CaptTofu commented on #102
Paulo,

I’ve never had a good time using VMware fusion with Kubernetes nor CoreOS with vagrant. A few months back, as I prepared for a conference, nothing I tried worked and I needed help from Kelsey Hightower. Eventually, I gave up with Vagrant and scripted a straight setup with vmware and shell scripts that do what vagrant does using the cloud init scripts Kelsey referred me to:

https://github.

[2015-05-26 11:51] pires commented on #102
@CaptTofu I'm open to any PRs that improve this repository.

Specifically regarding VMware Fusion, @ericgray has done some work on this in the past, so perhaps we can help you better than I do, since I don't use VMware.

[2015-05-26 11:54] CaptTofu commented on #102
Another question - there were a few times DNS was working, and the DNS server specified was a local one. How does the DNS setup work with your setup? I don’t know enough to try to make that work yet, but would be interested.

Nice to meet you Eric!

[2015-05-26 11:55] pires commented on #102
@CaptTofu DNS integration is only used inside the Kubernetes cluster. This repository has no opinion on how to provide Internet access to the VMs.

[2015-05-26 13:58] karmux opened #103 "kube-dns pod does not appear after first vagrant up"
When I first create machines with

[code]

then no kube-dns pod is created

[code]

But when I do halt and up again, then kube-dns pod appears into `kubectl get pods` output:

[code]

[code]

[code]

There is no errors in vagrant output and it always displays that it's configuring Kubernetes cluster DNS while bringing machines up.

[2015-05-26 14:14] pires commented on #103
See #100

[2015-05-27 09:00] pires commented on #103
Couldn't reproduce.

[code]

[2015-05-27 09:11] karmux commented on #103
I can confirm that there is actually no such issue.

Problem was that my VirtualBox went crazy since I hadn't restart my PC for long. VirtualBox ate all the CPU and was extremely slow. Probably some timeout occured or something that didn't let it install kube-dns. After I rebooted creating cluster went super fast and I have kube-dns too :)

[2015-05-27 09:12] pires commented on #103
@karmux glad to know! Thank you for your feedback, nonetheless.

[2015-05-28 15:27] ericgray commented on #102
Hey guys!  The last few times I have tried to launch this environment it has not come up.  Culprit seems to be with the network services failing to initialize but have not looked into it further.

[2015-05-28 17:19] pires commented on #102
@kelseyhightower setup-network-environment download returns 503 from time to time. Could it be some sort of download rate-limit from AWS?

[2015-05-28 21:02] yoanisgil commented on #102
Same thing here. See error log:

[code]

 What would be a way of getting around this? Given that I just started playing around with kubernetes I have found myself in need of destroying/recreating my cluster (because I made a big mess out of it).

[2015-05-28 22:36] pires commented on #102
Refs https://github.com/kelseyhightower/setup-network-environment/issues/5

[2015-05-28 23:05] #102 closed

[2015-05-29 00:26] yoanisgil opened #105 "Error setting up minion nodes with CoreOS 695.0"
Hi,

I am trying to setup my cluster with CoreOS 695.0 (latest release in the alpha channel) and I get this from  journalctl:

[code]

Seems like the etcd command line has changed a bit. What's the recommend CoreOS version to go with?

Thanks,

Yoanis.

[2015-05-29 00:37] yoanisgil commented on #105
@pires  This patch:

[code]

solves the issue for me. Let me know if you want me to create a PR and I would gladly do, though I am not entirely sure if this is backwards compatible with previous CoreOS versions. If not what could be done to support CoreOS >= 695.0 and CoreOS < 695.0?

Bests,

Yoanis.

[2015-05-29 07:07] pires commented on #105
@yoanisgil please do.

[2015-05-29 09:20] AntonioMeireles commented on #105
@yoanisgil fwiw.afaict the patch is backwards compatible.

[2015-05-29 10:58] pires commented on #105
Yes it is.
On May 29, 2015 10:20, "António Meireles" <notifications@github.com> wrote:

[2015-05-29 12:43] yoanisgil commented on #105
PR is done ;) .. See here: https://github.com/pires/kubernetes-vagrant-coreos-cluster/pull/106

[2015-05-29 14:13] pires commented on #105
Fixed by #106.

[2015-05-29 14:13] #105 closed

[2015-05-30 04:52] tslater opened #107 "Error configuring network."
Things were working fine until one time I tried to load the cluster and things went awry.
SSH failed and so I set the username manually in the Vagrantfile to core.

Now I get this error
[code]

I've seen advice along these lines:
https://muffinresearch.co.uk/vmware-siocsifaddr-no-such-device-eth0-after-cloning/
...I have not done any cloning though.

I've tried
[code]
but no cigar.

[2015-05-30 07:13] tslater commented on #107
Interesting update: calling ```vagrant up``` instead of ```vagrant reload``` let me get past the master node and node  01, but got the same error on node 02. Running ```vagrant up``` again let me clear node 03. But I still can't reload without getting that error on master.

[2015-06-01 10:24] pires commented on #107
I have no way to replicate this since I have no VMware. @windwizard @capttofu care to comment?

[2015-06-01 12:26] MaxDaten commented on #100
https://github.com/GoogleCloudPlatform/kubernetes/issues/8660
it seems this was the issue and it's now fixed for me. I can now `halt` and `up` as often as I want. And `vagrant up` of a halted cluster is a way faster (1:51 min) than a complete fresh setup (5:30 min).

[2015-06-01 12:35] pires commented on #100
We don't use salt, but if it works, awesome!

[2015-06-01 12:35] #100 closed

[2015-06-01 12:58] CaptTofu commented on #107
I’m trying to think of a way you could… I think fusion or workstation might have a trial period. Not sure.

[2015-06-01 13:54] MaxDaten commented on #97
Maybe this is a hint: http://ask.projectatomic.io/en/question/179/authenticating-kubernetes-for-private-images-on-docker-hub/
according to the reply, the .dockercfg has to be in the working directory of kubelet.

To get the cwd I executed on a node:
[code]

so it`s the root.

see #108 for an example kubelet config. With changing the working directory of the kubelet, the kubelet is able to pull pri

[2015-06-01 14:01] #97 closed

[2015-06-01 18:36] ianbytchek opened #109 "sed: can't read : No such file or directory"
Seeing a few of these when trying to run `vagrant --provider=parallels up`.

[code]

[2015-06-01 18:57] pires commented on #109
What OS are you running?

[2015-06-02 00:50] sporkmonger opened #110 "SkyDNS appears to be segregated from CoreOS's etcd?"
You're currently spinning up an etcd container for SkyDNS, which doesn't appear to be talking to the main etcd instances that CoreOS runs. And I'm not sure I understand why you'd want to do that?

[2015-06-02 06:54] jdojff opened #111 "OpenStack provider"
Would it be possible to update configuration to run kubernetes cluster on OpenStack instances using plugin like: https://github.com/cloudbau/vagrant-openstack-plugin ?

[2015-06-02 08:07] ianbytchek commented on #109
OS X 10.10.3 (14D136)

[code]

[2015-06-02 09:29] pires commented on #110
@sporkmonger it's common practice in the Kubernetes world. `etcd` is a requirement for `skydns` but in the future won't be a requirement for Kubernetes. Also, until recently, the `etcd` version bundled with CoreOS was not supported by `skydns`.

[2015-06-02 09:29] #110 closed

[2015-06-02 09:30] pires commented on #111
@jdojff it is possible, but I would need someone with access to an OpenStack install to actually implement and test it.

[2015-06-02 09:31] pires commented on #109
@ianbytchek you've installed `sed` with `brew`?

[2015-06-02 09:33] pires commented on #109
/cc @AntonioMeireles care to try this with `parallels`?

[2015-06-02 10:09] jdojff commented on #111
Well, I have an account at cloud provider, not sure about implementation, but I could test it there.

[2015-06-02 10:45] ianbytchek commented on #109
I did, I needed a gnu version awhile ago. Would that be the cause?

[2015-06-02 11:03] pires commented on #109
@ianbytchek not sure, since we have people running this on Linux, Mac (me, for instance) and Windows (cygwin).

[2015-06-02 19:05] ianbytchek commented on #109
I've `brew unlink gnu-sed` and those messages went away with using the standard OS X version of sed. I can't remember exactly, but I needed the gnu version because it was somehow different from the standard. Not a critical bug obviously, but maybe should mention it in the requirements.

[2015-06-02 19:08] pires commented on #109
@ianbytchek definitely. Thank you!

[2015-06-02 19:08] #109 closed

[2015-06-03 13:02] sporkmonger commented on #110
Interesting. I hadn't seen that done before – I tried looking around for other examples though and didn't find any. Got any pointers to projects or posts that better explain the rationale?

[2015-06-03 13:06] sporkmonger commented on #110
The other thing I'm seeing is that nslookup seems to work fine w/ SkyDNS if you `exec` your way into the SkyDNS container, but trying to run nslookup through the DNS service's portal IP seems to give `nslookup: can't resolve 'skydns.local'`?

[2015-06-03 15:50] pires commented on #110
@sporkmonger https://github.com/GoogleCloudPlatform/kubernetes/tree/master/cluster/addons/dns

Not sure what a toolbox container is, but for access said DNS you need to _be_ a pod container.

[2015-06-03 15:50] sporkmonger commented on #110
`toolbox` on the CoreOS host command line boots a toolbox container.

[2015-06-03 15:54] sporkmonger commented on #110
OK, so inside a pod container you'd have DNS, gotcha, but one last thing I'm not sure I'm understanding here – you segregate etcd from the CoreOS host, but are you running a separate set of etcd silos for every service that needs to talk to etcd?

[2015-06-03 16:00] sporkmonger commented on #110
I guess not really one last thing – `kube2sky` is pushing service metadata into etcd I assume, but what about things that aren't managed by Kubernetes that need to advertise themselves w/ SkyDNS? (e.g. something that needs a perfect one-per-host anti-affinity guarantee that Kubernetes can't make, as far as I know.) They wouldn't live inside that pod, so I'm not sure how exactly you'd go about publ

[2015-06-03 16:07] sporkmonger commented on #110
(Also sorry for all the questions! :-) )

[2015-06-03 16:20] pires commented on #110
What? No. I only use a different `etcd` for the DNS pod, same way as upstream project.

Use each node `etcd` instance. Or deploy your own pod or external cluster and use it.

[2015-06-03 16:21] sporkmonger commented on #110
Hmm, when I query the pod etcd it doesn't have any of the keys of the host etcd?

[2015-06-03 16:26] pires commented on #110
You are very confused. Forget about the `etcd` that DNS pod uses. Never use it! Make your apps the way you want to.

[2015-06-03 16:30] sporkmonger commented on #110
Haha, FWIW, that's what I already ended up doing – was trying to understand why you'd done it this way though.

[2015-06-03 16:47] pires commented on #110
Read my first comment.

[2015-06-03 17:24] tslater commented on #107
Sorry if it was unclear from the link...I'm using virtualbox

[2015-06-03 21:22] tslater commented on #107
I tried rebuilding from the latest code and now I get this on master:

[code]

[2015-06-03 22:46] tslater commented on #107
Also:

[code]

[2015-06-03 22:53] pires commented on #107
I'm sorry but definitely there's something very wrong with your cluster. Which version of Vagrant and Virtualbox are you using?

Please clone the repository again to make sure there is nothing wrong with the files or any changes that I can't support and run:
[code]

After all is done check again.

[2015-06-03 23:31] tslater commented on #107
I'm on Virtualbox 4.3.28 r100309
and Vagrant 1.7.2

I have destroyed and cloned half a dozen times today....
I think it's related to the /tmp/files_that_are_here being destroyed. I get the error after my first reload.

I also get errors like this:
[code]

That I don't understand...but I do think the /tmp/kube-serviceaccount.key file is a big deal since it's not there. I tried writing it to another

[2015-06-04 07:46] pires commented on #107
Ah I do not support reload yet. Sorry.
On Jun 4, 2015 00:31, "tslater" <notifications@github.com> wrote:

[2015-06-04 18:37] tslater commented on #107
I have issues sometimes where one machine reboots or stops or something. Or times where i need to mount new directories. How can I bring the cluster in a consistent state. Reload doesn't work. Up is really slow and usually doesn't work. The whole thing is rather fragile...Is there a good work around?

[2015-06-04 18:48] pires commented on #107
@tslater I feel your pain but I don't grok Vagrant enough to understand what `reload` actually does. Would you like to give a take on this an provide a PR? I'd be happy to review it.

[2015-06-04 18:49] pires opened #112 "Add support for vagrant reload"
Some people have been asking for better `vagrant reload` support (and `halt` and `resume`), but given the nature of Kubernetes components, and my lack of Vagrant skills, I need more enlightened action here.

Refs #107

[2015-06-05 00:15] CaptTofu commented on #107
Greetings -sorry I haven’t responded - I have been traveling, AnsibleFest… I will reply soon.

[2015-06-05 09:34] AntonioMeireles commented on #107
**reload** is reasonably simple to handle - is a matter of elegantly turn it into a halt / start sequence. (i think can get it right over next week in my tree and then @pires can cherry pick).
suspend/**resume** is trickiest, not exactly because vagrant per se but because it is not simple to predict how things will behave when they spot XXL time gaps in VM clocks. i guess the sanest/simplest/most

[2015-06-05 10:32] AntonioMeireles commented on #107
guys, @pires look at at above commit plz & report back...

[2015-06-05 10:39] pires commented on #107
Thanks @AntonioMeireles that should prevent users from trying this and messing with their cluster.

[2015-06-07 19:20] hjfreyer opened #115 "kubernetes fails to start on second boot"
Steps to reproduce:
1. `vagrant destroy master`
2. `vagrant up master`
3. Wait for start, make sure all is good.
4. `vagrant halt master`
5. Reboot host machine (probably irrelevant, but including because I did it).
6. `vagrant up master`

The API server never comes up. Checking the journal, I see this (emphasis added):

-- Logs begin at Sun 2015-06-07 18:30:34 UTC, end at Sun 2015-06-07 19:17:21

[2015-06-07 19:53] hjfreyer commented on #115
I reset to c788f584224c2da2555e2468eb75c45c0e3cf14b and the problem seems to have gone away.

[2015-06-07 19:55] pires commented on #115
Yes, because of https://github.com/pires/kubernetes-vagrant-coreos-cluster/commit/3bc7b3dc63f4a2d84b39a6e7aebed35460ddfa06. PR on the way, thank you for reporting @hjfreyer.

[2015-06-07 20:28] pires opened #116 "Make Docker cache optional"
Docker cache on `master` node makes deployment slow and actually one only takes advantage of it if multiple pods re-use the same image(s), and said image(s) are hosted on Docker Hub (`registry` doesn't mirror anything else).

[2015-06-07 21:21] #115 closed

[2015-06-08 12:52] AntonioMeireles commented on #112
@pires shoudn't this be closed already via above commit ?

[2015-06-08 12:54] AntonioMeireles commented on #86
one note - right now NUM_INSTANCES=1 creates two VMs - one for master and another for node-01. (setting it to 0 would just create master)

[2015-06-08 12:57] AntonioMeireles commented on #107
@tslater can you confirm that above patch that got merged fixes things for you please ?

[2015-06-08 13:39] pires commented on #112
@AntonioMeireles it's just a workaround. I'd really like to see this implemented in a way that would work for everyone.

[2015-06-08 13:42] pires commented on #107
@AntonioMeireles @tslater this doesn't fix it, but instead just doesn't allow you to run `reload`.

Yet @tslater says `up` is slow and doesn't work but to me it's just a random rant without added value for this issue. `up` works alright. And I'm always open to PRs more than I'm open to rants.

[2015-06-08 13:42] #107 closed

[2015-06-08 13:58] tslater commented on #107
@pires, that's kind of rude for you to call it a rant, don't you think? I've destroyed rebuilt the cluster tons of times and that's the only way I can make changes to it. I've tried all kinds of halt, suspends, reloads etc. and every time my whole cluster breaks and I have to rebuild it. There was no warning on the README for this. It's going to take me time to learn vagrant and the innards of run

[2015-06-08 14:22] AntonioMeireles commented on #112
humm...

can you test drive the patch bellow please ? it's a (very) cheap hack ... but at sight seems to work (not merged in my tree yet)...

[code]

[2015-06-08 15:02] pires commented on #107
One thing is to open an issue describing a situation, another thing is saying "it's broken", and another thing is to provide PRs. I'm not a Vagrant expert, or a Kubernetes expert. This is something made to ease the life of others - more than mine now that I'm not using this as much as I did in the past - and not support every scenario on Earth. I'm open to contributions. Always have been.

I just

[2015-06-08 15:05] pires commented on #112
This feels misleading. I much prefer to have it explicitly blocked. Thank you, nonetheless.

[2015-06-08 18:22] AntonioMeireles commented on #112
misleading in what sense (curious) ?
[code]
(from the official docs [here](http://docs.vagrantup.com/v2/cli/reload.html))

[2015-06-08 18:36] pires commented on #112
Sorry, you're right. Mondays... I read it correctly, but my mind interpreted `destroy` instead of `halt`. Will do that and close this.

[2015-06-08 19:02] #112 closed

[2015-06-08 19:03] pires commented on #107
You can try reload now as per #112

[2015-06-08 23:14] pires opened #118 "Move to API v1"
[Read this](https://groups.google.com/forum/m/#!topic/kubernetes-announce/wW_vIZVjs4U).

[2015-06-09 23:44] pires commented on #118
Depends on https://github.com/GoogleCloudPlatform/kubernetes/issues/9531

[2015-06-11 10:02] tcichowicz commented on #103
I'm afraid that this issue still exists. Steps to reproduce:
1. `vagrant destroy`
2. `vagrant up` - no kube-dns
3. `vagrant up` - kube-dns pods and services are up and running

    $ vagrant destroy -f
    ==> node-02: Running triggers before destroy...
    ==> node-02: Destroying VM and associated drives...
    ==> node-02: Running cleanup tasks for 'file' provisioner...
    ==> node-02: Running

[2015-06-11 14:53] tcichowicz commented on #103
The problem is that each of the `system` statements in the Vagrantfile is executed in a separate subshell. This means that the environment variables are not being exported between calls, hence kubectl does not know the $KUBERNETES_MASTER address.

The easy solution is to add this variable to kubectl create calls, like this:

    system "KUBERNETES_MASTER=\"http://#{MASTER_IP}:8080\" kubectl create

[2015-06-11 16:24] hjfreyer opened #120 "Virtual machines randomly abort"
I just changed my host server from Arch to Ubuntu Server 14.04, hoping for better reliability. That may have been a huge mistake.

Every now and then, my master and nodes will just abort. Vagrant's documentation is terrible so I don't really know how to debug it. `journalctl -b -1` says nothing interesting before the shutdown. Googling around finds only complaints about virtual machines being abor

[2015-06-11 16:48] hjfreyer commented on #120
Bah, of course, as soon as you post an issue...

Looks like vbox ran out of memory. Added a bunch of swap. Sorry for the noise.

[2015-06-11 16:48] #120 closed

[2015-06-11 17:03] pires commented on #103
Could you provide a PR?
On Jun 11, 2015 15:53, "tcichowicz" <notifications@github.com> wrote:

[2015-06-12 08:35] tcichowicz commented on #103
I'm working on it however at the moment I'm having problems with booting up the machines. I'll post when I know something more.

[2015-06-12 10:18] tcichowicz commented on #103
This might not be the most elegant solution but I'm not proficient enough in ruby-shell integration to share environment variables between system calls.

I've had some problems running the alpha channel (CoreOS 709.0.0) but I've tested it on beta (695.0.0):

    $ vagrant destroy -f
    ==> node-02: Running triggers before destroy...
    ==> node-02: Forcing shutdown of VM...
    ==> node-02: Dest

[2015-06-12 12:47] ilidiomartins opened #123 "vagrant up fails with coreos 709.0.0"
```vagrant up``` fails with coreos 709.0.0 (works ok with 695).

[code]

[2015-06-12 12:48] #103 closed

[2015-06-12 12:48] AntonioMeireles commented on #123
humm. you are using virtualbox or paralells ?

[2015-06-12 12:49] ilidiomartins commented on #123
virtualbox

[2015-06-12 12:52] AntonioMeireles commented on #123
strange. i 've hit that this morning with my custom parallels boxes **before** fixing my code to consume latest upstream. it seems that latest upstream [fixes](https://github.com/coreos/coreos-overlay/commit/db5e760240000f7451d24218ef565d83e01900ea) aren't in 709.0.0 so things break.

in the meantime just use my AntonioMeireles/coreos-alpha box (it has the fix and also has a virtualbox flavour).

[2015-06-12 12:53] pires commented on #123
Other people like are reporting this as well. Will look into it as soon as I get back behind the computer.

[2015-06-12 12:54] AntonioMeireles commented on #123
my box work :smile: in the meantime

[2015-06-12 12:58] AntonioMeireles commented on #123
the issue is system related. absolute paths for systemd unit templates shouldn't start anymore by - (/). (they should be the ouptut of `systemd-escape -p ${PATH}`). in practice one just has to cut 1st char.

[2015-06-12 13:16] pires commented on #123
The usage of `-` means if that execution fails, continue with unit instructions.

[2015-06-12 13:21] AntonioMeireles commented on #123
@pires no,no. different stuff...
that is when you have something like ... Exec=-something

the issue here is the first '-' in `system-cloudinit@-var-tmp-hostname.yml.service`. it must be now `system-cloudinit@var-tmp-hostname.yml.service`

[2015-06-12 14:35] pires commented on #123
Unable to fix this until Monday. Care to make a pr @antoniomeireles?

[2015-06-12 14:41] AntonioMeireles commented on #123
[code]

guys, try this plz.

[2015-06-12 14:44] ilidiomartins commented on #123
yep, that's working for me

[2015-06-12 15:47] hjfreyer commented on #123
`CHANNEL=beta vagrant up` also works.

[2015-06-12 15:49] AntonioMeireles commented on #123
@hjfreyer, the issue **only** affects 709.0.0. no need to do/mod anything if you 're consuming the stable or beta channels.

[2015-06-12 16:11] hjfreyer commented on #123
Indeed. What I meant was, I'm normally on alpha, but I've switched to beta as a workaround until this gets fixed.

[2015-06-13 08:51] ashic opened #124 "Failing to set hostname"
I'm running on Windows 8.1, with Vagrant 1.7.2, VBox 4.3.26 r98988. I've set full permissions for the folder in question, and running vagrant up gives the following:

[code]

Running systemctl gives the following:

[code]

And finally, journalctl -xe gives:

[code]

Any ideas?

Cheers,
Ashic.

[2015-06-13 11:22] pires commented on #124
Same as #123

[2015-06-13 12:06] #118 closed

[2015-06-13 13:08] ashic commented on #124
Thanks. Setting CHANNEL="beta" is working for me :)

[2015-06-13 13:08] #124 closed

[2015-06-13 13:09] ashic commented on #123
I'm running it from powershell, and

[code]

is working for me too.

[2015-06-13 15:20] ashic opened #125 ""server could not find the requested resource" for guestbook demo"
I've got a cluster running via vagrant. I'm trying to follow the guide here:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/guestbook/README.md

After vagrant up, I ssh into the master, create the first file mentioned (examples/guestbook/redis-master-controller.json), and run

[code]

I get the following:

[code]

I can see the web UI from my host under /static/app, and ev

[2015-06-14 17:34] pires commented on #123
`beta` channel is now the default until upstream fixes this and cuts a new release.

[2015-06-14 17:36] pires commented on #125
Run `kubectl version` and paste here please.

[2015-06-16 03:48] dungvo commented on #125
Hi plres,
I also run into the problem on above.

The first, I follow this tutorial: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md to setup kubernetes cluster on ubuntu.

And then, I'm trying to follow the guide here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/guestbook/README.md

And I run into the problem when I run

[2015-06-16 07:34] pires commented on #125
Can you recreate the cluster? We're using Kubernetes 0.19.0 and v1 api.

[2015-06-16 08:56] #125 closed

[2015-06-16 09:20] dungvo commented on #125
Hi @pires, thank you for your help.
I recreated my cluster using ```kubectl 0.19.0``` as your suggest and it fixed my problem. :+1:
Thank you,

[2015-06-16 09:22] pires commented on #125
v1 api was enabled on 0.19.0 and that's why it probably fails for you.

[2015-06-16 09:28] dungvo commented on #125
Yes, that's right.
So, I think you should add more Kubernetes's version required for that example.

[2015-06-16 09:33] pires commented on #125
@dungvo I'm not sure what you mean, the example is not mine but rather an official example on the Kubernetes official repository.

[2015-06-16 09:43] dungvo commented on #125
Oh, I's sorry about that.
Again, thanks for your help about my problem.

[2015-06-18 13:35] CaptTofu commented on #107
Hi all,

Finally had time to try things out. I still, with the most current, have DNS end up failing running this using vmware_fusion. It worked at first, then stopped. Adding entries to resolve.conf doesn’t work because it gets overwritten sytstemd-resolved with a file with “no nameservers found” on both the master and nodes.

Regards,

Patrick

[2015-06-19 10:14] #123 closed

[2015-06-19 16:49] mattseh commented on #125
I checked out release-0.18 and it worked for me, good enough for going through the example for now

[2015-06-23 22:16] mbechauf opened #126 "vagrant up fails with kube-dns is forbidden"
Platform: Windows

I'm getting the following message after vagrant up

==> master: Installing kubectl for the kubernetes version we just bootstrapped...
==> master: Executing remote command "sudo -u core /bin/sh /home/core/kubectlsetup install"...
==> master: Downloading and installing linux version of 'kubectl' v0.19.3 into /opt/bin. This may take a couple minutes, depending on your internet spee

[2015-06-24 00:17] mbechauf commented on #126
Checked the apiserver logs. It dumps out tons of messages like this:

W0623 23:49:52.025221    2959 request.go:302] field selector: v1 - secrets - type - kubernetes.io/service-account-token: need to check if this is versioned correctly.
E0623 23:49:52.034657    2959 reflector.go:136] Failed to list *api.ServiceAccount: an error on the server has prevented the request from succeeding (get serviceAc

[2015-06-24 08:33] pires commented on #126
Weird. I test every release before pushing and it's working alright on this side. Could it be they pushed a new version overwriting existing 0.19.3? Testing again..

[2015-06-24 09:05] pires commented on #126
I can't reproduce this.

[code]

[2015-06-24 15:33] mbechauf commented on #126
Thanks for checking. I will close the issue for now, and keep an eye on it. Will set up another machine today, so we'll see if I'll get the same problem again. The only thing that is different here is that the machine was behind a firewall and accessed the Internet through a proxy. No problem pulling down the binaries, so the proxy setup was ok.

[2015-06-24 15:33] #126 closed

[2015-06-24 20:01] luebken opened #127 "Can't install on my Mac"
My setup:
[code]

The error when trying to start the master:
[code]

It seems that it reaches 50 retries here: https://github.com/pires/kubernetes-vagrant-coreos-cluster/blob/master/Vagrantfile#L270

The network setup on the master:

[code]

[2015-06-24 20:48] pires commented on #127
Did you disable DHCP in VirtualBox?

[2015-06-24 20:50] pires commented on #127
`10.245.x.x` is not a valid subnet. `10.244.x.x` is for service usage.

[2015-06-24 20:51] pires commented on #127
Give me a couple hours and let's debug this.

[2015-06-24 21:18] luebken commented on #127
Thanks. Let me know if I can help and provide you with more information.

[2015-06-24 22:59] pires commented on #127
@luebken please run

[code]
and
[code]

Paste here the results.

[2015-06-24 23:00] pires commented on #127
Are you running Kubernetes elsewhere, like GKE? Do you have `gcloud` CLI installed? `openshift`?

[2015-06-24 23:32] luebken commented on #127
env redacted:
[code]

.bash_rc redacted:
[code]

[2015-06-24 23:38] pires commented on #127
I then have no idea where that `10.245.x.x` comes from. There's nothing like it in this repository or in your environment variables. Can you try once more in a new terminal window, please?

[2015-06-24 23:45] luebken commented on #127
Tried it again with a fresh Virtualbox install. Same problem.

[2015-06-25 01:31] luebken commented on #127
I found the problem: The official install from [Kubernetes](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/vagrant.md) configured kubectl via `~/.kube/config`. After deleting that file everything worked. Thanks for the help!

[2015-06-25 01:31] #127 closed

[2015-06-25 09:27] pires commented on #127
That's why I asked before..

I'm glad you found the issue.

[2015-06-25 12:55] analytik commented on #97
For people who still have a problem with this, try adding `https://` to your `.dockercfg`. I found this to work for me:
[code]
Without the https block, I was logged in from console (core user), but kubelet would throw auth errors (even when the `.dockercfg` file in its working directory, `/root/`, exists and is readable).

[2015-06-25 14:28] luebken commented on #127
Sorry. I was looking explicitly looking for GCE.

[2015-06-25 15:27] pires commented on #97
@analytik would you be so kind and provide a PR with an update to `README.md` with your conclusion in the `Troubleshooting` section?

[2015-06-25 16:26] erictune commented on #97
Or put it in: the "Configuring Nodes to Authenticate to a Private Registry"
section of "docs/images.md".

On Thu, Jun 25, 2015 at 8:27 AM, Paulo Pires <notifications@github.com>
wrote:

[2015-06-27 21:28] Industrial opened #128 "How do I access the guestbook example?"
Hi.

I'm new to Kubernetes (and CoreOS and Docker) and I'd like to see if I can get my Node.js apps running in Pods eventually. Right now I've gotten Kubernetes to run on linux (desktop pc) with this repo. I have ran the guestbook examplebut I'm not sure now how I access the HTTP service / website.

[2015-06-29 07:52] mdevilliers commented on #128
Hey

The key information you need is in the https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/services.md#external-services

This explains the different ways you can expose your service.

Looking at the latest definition for the frontend-service.json -

[code]

The bit you need to pay attention to is the commented out type attribute. I would change this to 'NodePort' which would m

[2015-06-30 10:25] pires commented on #128
Thank you @mdevilliers. I find it curious that for the last month, a lot of people come here to understand and _use_ the guestbook example. One should probably open an issue on the official project to make said example easier to test with.

[2015-06-30 10:25] #128 closed

[2015-06-30 10:55] mdevilliers commented on #128
No problem, I agree with you about the issue.

BTW Thanks for all your work

[2015-07-01 12:07] josephschorr opened #129 "Ability to specify DOCKER_OPTS"
The ability to specify `DOCKER_OPTS` as an env var on the `vagrant up` command and have it be passed to the virtual machines is very useful for adding params such as `insecure-registry` for local testing.

[2015-07-02 21:02] #129 closed

[2015-07-02 21:03] pires commented on #129
@josephschorr you should thank @tcichowicz!

[2015-07-03 04:44] josephschorr commented on #129
@tcichowicz: Thanks for doing this!

[2015-07-03 09:22] tcichowicz commented on #129
No problem, hope this helps :)

[2015-07-07 12:59] tdeheurles opened #132 "Use local docker images for pods"
hi,

I'm starting to use your project for local test (before pushing to gke).
The way I go is :
- starting your cluster
- nfs my projects
- vagrant ssh in master
- creating docker images locally

But when I create my pod, I receive this message :
`Error: image library/servicename:localbuild.0.0.1 not found`

The image is on the master, and the node don't look at this point.

Is the private registr

[2015-07-07 16:44] tdeheurles commented on #86
In order to run the project on one node (the master), you need :
- pass NUM_INSTANCES to 0
- Certainly add some memory with MASTER_MEM
- move `kube-proxy.service` and `kube-kubelet.service` from node.yaml to master.yaml
- add the following code under the [unit] section of `kube-proxy.service` and `kube-kubelet.service`
[code]

I need this to run this (in order to have local docker registry directl

[2015-07-07 21:18] pires commented on #86
Just a side-note, single node cluster is an anti-pattern and has been deprecated upstream, at least in the CoreOS docs.

[2015-07-07 21:19] pires commented on #132
The `registry` running on `master` can only be used as a cache and not as a local registry where you publish your images.

[2015-07-08 06:42] tdeheurles commented on #86
So maybe CoreOS is not a good target for simple local kubernetes test.
My idea was to not work on too much stuff (as CoreOS seems pretty good when cluster is needed)

Thanks for response

[2015-07-08 08:42] pires commented on #86
Check @kelseyhightower scripts for running it on top of Docker.
On Jul 8, 2015 07:42, "thibault deheurles" <notifications@github.com> wrote:

[2015-07-08 09:17] tdeheurles commented on #86
Thanks for the link, lots of good stuff in it.

But many people are using Windows and I'm stuck with a VM for now, that's one of the reason I go in your project.

If someone still need that project on only one node, they can look [here](https://github.com/tdeheurles/HomeKube)

[2015-07-08 09:34] pires commented on #86
Why a single VM?

[2015-07-08 10:51] tdeheurles commented on #86
I'm looking for the easiest way to run a local kubernetes for team (local test / plane situation / etc).
The team is working on Windows.

The problem of multi VM is with docker registry.
- With one VM, I can build inside the master (there is docker), and run `kubectl create` (because the built image is in docker daemon => no need for registry).
- With cluster, nodes are looking for images in their

[2015-07-08 11:08] pires commented on #86
OK, it's a peculiar scenario. If you're able to provide a PR that enables this without breaking current behavior, I'm glad to review it and possibly merge it. Thank you for you feedback @tdeheurles

[2015-07-09 05:07] MaxDaten opened #136 "remove/deprecate DOCKERCFG & USE_DOCKERCFG env vars in respect to kubernetes v1.0?"
kubernetes introduced [imagePullSecrets](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/images.md#specifying-imagepullsecrets-on-a-pod) to store custom dockercfg in k8s secrets. I tried it, and it works flawless for me.

The removal of these vars would reduce complexity of the Vagrantfile and avoids the fiddling with the k8s nodes' filesystem.

[2015-07-21 07:46] vsimon opened #139 "Troubleshooting section suggestion"
I just ran into closed issue #127 on my mac. The solution to delete my ~/.kube/config worked. It would be nice to have a section documenting such gems that may get buried in the closed issues section.

[2015-07-21 12:50] pires commented on #139
@vsimon you are very right, since I have suggested that to more people having that issue than I can count. Could it be your first PR? Let me know ;)

[2015-07-21 19:11] vsimon commented on #139
Sure, I'd be happy to.

I just opened:
https://github.com/pires/kubernetes-vagrant-coreos-cluster/pull/140

[2015-07-21 22:40] #139 closed

[2015-07-21 22:40] pires commented on #139
Awesome, thank you @vsimon!

[2015-07-22 09:52] BlueShells opened #141 "Can't Running Kubernetes locally via Docker"
I followed this

http://kubernetes.io/v1.0/docs/getting-started-guides/docker.html

but ,after I done step 3,I download the kubectl,but when I run  './kubectl get node'
I get this message:

'The connection to the server localhost:8080 was refused - did you specify the right host or port?'

why this happened?I am running it on 'Red Hat Enterprise Linux Server release 7.1'

here is the info：

[root@

[2015-07-22 10:24] BlueShells commented on #141
this can be fixed by

setenforce 0

the selinux caused this problem

[2015-07-22 11:23] pires commented on #141
I'm sorry but this seems to be totally unrelated to this project.

[2015-07-22 11:23] #141 closed

[2015-07-22 22:41] sdheisenberg opened #142 "K8S not installed"
I ran through your readme and have the vagrant cluster up:
[code]

If I SSH into any of the boxes, kubectl is not found.

[code]

Am I missing something here?

[2015-07-22 23:02] sdheisenberg commented on #142
Actually, I think I see now...only the api server, control manager, and scheduler are on the instances, not kubectl.

[2015-07-22 23:02] #142 closed

[2015-07-23 06:40] tdeheurles commented on #142
kubectl is installed on master only if host is windows :

[code]

kubectl is not available on windows for now (gcloud yes, kubectl no).

Just install it locally :
[code]

or run it through a container :
[code]

You can also remove the `if OS.windows?` code ...

[2015-07-23 07:45] tdeheurles commented on #142
Just to note, you don't need to be root to run kubectl

[2015-07-25 01:31] drocsid opened #143 "bridged interface for off host contact?"
How about a bridged configuration (at least that's what it's called in virtual box) so we could connect to services off the virtual machine host. Furthermore, with bridging, we would be able to connect to virtual machines running on other hosts. Have you attempted using bridged interfaces, or is there another approach I'm not aware of?

[2015-07-25 17:21] pires commented on #143
You can access the VM ip addresses, can you not? Ofc, this is available only on each host. Glad to review a PR, if any.

[2015-07-27 17:44] drocsid commented on #143
I'm fiddling with it. I'll be on #freenode if you have a minute.

[2015-07-27 20:22] pires commented on #143
Look for me, I'm `ppires`. I'll probably be around tomorrow if not today.

[2015-07-27 23:45] drocsid commented on #143
As per my comments on IRC:

1. motivation is connecting to services off the vm provider host and creating nodes on external host vm
2. Double NAT might work (NAT for incomming packets on vm provider host), but bridging is preferred
3. From my limited understanding, I think flannel won't work well with a bridged interface, since IPs assignment will need to change
4. It might be possible to at least

[2015-07-29 11:41] pires opened #145 "Force secure API access"
See https://github.com/GoogleCloudPlatform/kubernetes/issues/10265#issuecomment-120341497

[2015-08-04 08:08] pires commented on #136
@MaxDaten will you provide a PR?

[2015-08-04 08:14] pires commented on #145
See https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/scratch.md#security-models

[2015-08-04 14:57] mrsheepuk opened #146 "Vagrant up unable to connect on SSH with CoreOS alpha channel"
I've not been able to work out why, but using the default alpha channel for CoreOS, doing a vagrant up gets as far as "Waiting for machine to boot" then is never able to connect on SSH to the master. It retries 15 or so times then gives up. I can see in Virtualbox that the console is up and running, but SSH cannot connect. Attempting to manually SSH to the IP/port (e.g. 127.0.0.1 port 2222) also c

[2015-08-04 14:58] mrsheepuk commented on #146
The CoreOS alpha version that Vagrant pulled down was 758.1.0.

[2015-08-04 16:11] pires commented on #146
Can you retry with `alpha`? This was probably something with Virtualbox networking.

[2015-08-04 16:14] mrsheepuk commented on #146
Tried again right now, same result. I've tried several times; I don't know if it's something to do with my particular network configuration. Here's the full vagrant up command I have run:

    NODE_MEM=1024 BASE_IP_ADDR=192.168.100 DNS_UPSTREAM_SERVERS=10.84.1.103:53 vagrant up

The DNS server is correct and working, and the BASE_IP_ADDR isn't conflicting with anything else on my machine (I can pi

[2015-08-04 20:39] pires commented on #146
Thank you for reporting. Let me take a look..

[2015-08-04 22:02] pires commented on #146
I cannot reproduce this.

[2015-08-04 23:15] mrsheepuk commented on #146
I'll give it a go from a different environment and see if I can work out whether it's something to do with my machine. Will report back tomorrow when I've had a chance to do that.

[2015-08-05 10:18] mrsheepuk commented on #146
I've just tried a plain

    vagrant init coreos-alpha
    vagrant up

... and I get the same result, so I think it's something environmental with the CoreOS base box and my setup, rather than a problem with kubernetes-vagrant-coreos-cluster specifically. I'll keep digging to see if I can feed anything back to you, but I suspect I need to raise this with coreos-vagrant instead.

[2015-08-05 10:33] pires commented on #146
[code]

[2015-08-05 10:34] pires commented on #146
I even set `config.vm.box_check_update = true` on `Vagrantfile`.

[2015-08-05 10:36] pires commented on #146
[code]

[2015-08-05 10:36] mrsheepuk commented on #146
Thanks for trying that - it looks certain that it's something to do with my host environment. I'll report back when I find out what is causing this!

[2015-08-05 10:40] pires commented on #146
@mrsheepuk have you rebooted your machine? Or just the `virtualbox` daemon? It may be something related to the networking.

[2015-08-05 10:42] mrsheepuk commented on #146
Rebooted the machine, upgraded Virtualbox to 5.0, upgraded Vagrant to 1.7.4, still getting identical behavior. It's very strange! I have a vague suspicion it may be something to do with a reverse-DNS lookup on the source IP of the SSH connection timing out / failing, but I can't work out how to prove that.

[2015-08-05 11:03] pires commented on #146
[code]

Could it be something related to any DHCP server on your network setting different VM ip addresses?

[2015-08-05 14:57] mrsheepuk commented on #146
Think I've found the problem - it was this entry in my iptables config (added, I believe, by a local docker install):

[code]

Removed that and I can now boot a clean coreos-alpha. Going back to try the kubernetes-vagrant-coreos cluster again now.

[2015-08-05 14:58] pires commented on #146
Awesome @mrsheepuk! Glad that you're keeping up with it :+1: let me know.

[2015-08-05 14:58] #146 closed

[2015-08-19 15:49] PurpleBooth opened #148 "Would you accept a pull request adding Ceph?"
Or is that out of scope for the aim of this project?

[2015-08-19 15:53] pires commented on #148
Can you develop further and explain what is the reasoning behind that and what would be the _gains_ from it?

[2015-08-19 17:01] PurpleBooth commented on #148
The gains from it are basically that we have a node agnostic way to fulfil
volume claims on vagrant that we would normally fill with GCE network
disks, or the amazon equivalents.

On Wed, 19 Aug 2015 16:53 Paulo Pires <notifications@github.com> wrote:

--
Billie Thompson
Software Developer
Purple Booth Ltd

Mob: 07813452516
Web: purplebooth.co.uk
Keybase: <http://billie.codes/1NOw29c>
LinkedIn: <h

[2015-08-19 17:03] pires commented on #148
@PurpleBooth it's still not clear to me what would be the gains, since this is mostly used for development purposes. Would it be optional? Would it be _free_, in the sense of configuring everything needed and not consume too much resources, for any user?
I am aware of Ceph but never seen it outside of datacenters.

[2015-08-19 17:13] PurpleBooth commented on #148
I'll have a look at the configuration I'm currently using, and see if the
usage is particularly high resource wise tomorrow and report back!

It's easy to turn off and on as it's only a few additional docker
containers.

My motivations for doing this is that I'd like to move away from using our
own homebrew centos+Kubernetes vagrantbox and move towards using yours, and
the only difference between

[2015-08-19 18:30] pires commented on #148
Awesome! Bring it on.

[2015-09-02 16:29] pires commented on #145
https://github.com/kubernetes/kubernetes/issues/11000#issuecomment-120396771

[2015-09-02 17:17] #145 closed

[2015-09-03 09:30] jonaz opened #150 "setup-network-environment really necessary?"
Hi

Why is the setup-network-environment service needed?
The environment variables it creates does not seem to be used anywhere on the master or the nodes?

```EnvironmentFile=/etc/network-environment``` is passed to the kubelet but i cannot find that the kubelet uses it.

I've started my cluster without it and it works fine.

If you agree it is not needed i can make PR to remove it.

[2015-09-03 09:48] pires commented on #150
Create the PR and I'll review.

[2015-09-03 10:26] jonaz commented on #150
PR #151

[2015-09-03 18:51] mattma opened #153 "DNS skydns pod restarts when it is in secure/https mode."
Using the file [dns-controller.yaml](https://github.com/pires/kubernetes-vagrant-coreos-cluster/blob/master/dns/dns-controller.yaml.tmpl) to setup the DNS, there is one variation on my setup. I uses Secure connection (https) instead of Insecure connection (http).

At [line 42](https://github.com/pires/kubernetes-vagrant-coreos-cluster/blob/master/dns/dns-controller.yaml.tmpl#L42), I changed it to

[2015-09-03 19:02] pires commented on #153
That log is not an error. Code 100 is an etcd error message meaning there was no key. This is expected.

[2015-09-03 19:57] mattma commented on #153
[code]

I read the [docs](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns) in details. I think the problem is in the secure environment, [`nslookup`](https://github.com/pires/kubernetes-vagrant-coreos-cluster/blob/master/dns/dns-controller.yaml.tmpl#L68) is resolved on port `8080`, it should be running on `6443`. Maybe from [Google example](https://github.com/kubernetes/kub

[2015-09-03 20:40] pires commented on #153
Port 8080 is still available. I will check.

[2015-09-03 20:48] mattma commented on #153
Yes, 8080 is still available but it is only for that host only. Since kubelet is trying to connect from another machine, 8080 is not available.

[2015-09-04 10:21] #153 closed

[2015-09-04 10:21] pires commented on #153
Thank you for reporting.

[2015-09-04 10:25] #150 closed

[2015-09-13 12:36] chiefy opened #154 "Check for existing kubectl before downloading"
I installed `kubectl` via `brew`, it would be cool if the setup could check for it, and even check to make sure it's the latest version before downloading.

[2015-09-13 13:18] chiefy opened #155 "Can't get kube-ui working"
I have my cluster up, but trying to acces the ui at `http://172.17.8.101:8080/ui` which redirects to `http://172.17.8.101:8080/api/v1/proxy/namespaces/kube-system/services/kube-ui/#/dashboard/` gives me:
[code]
So apparently it's not getting installed. I tried [this guide](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/ui.md)...
[code]

which led me to [this comment](https://

[2015-09-13 16:17] pires commented on #155
So, you are deploying kube-ui on your own, right? Cause this repo doesn't yet provide it.

[2015-09-13 17:53] chiefy commented on #155
Yes, I was trying to, but got the message about namespacing. According to the thread I linked, the `kube-system` namespace should be created already?

[2015-09-13 20:10] chiefy commented on #155
Ok, I got it working by adding a file `kube-system.json`:
[code]
and then:
[code]
where `../kubernetes` is the master branch of the kubernetes repo.

[2015-09-13 20:10] #155 closed

[2015-09-14 13:58] tdeheurles opened #156 "public_address_override DEPRECATED"
hi Paulo,

Just to mention :
On master.yaml, for the api-server, `public_address_override` is now DEPRECATED.
The recommended parameter is `--bind-address`

(not already tested for me)

[2015-09-14 14:13] pires commented on #156
@tdeheurles care to test the new flag and provide a PR? Glad to review it!

[2015-09-14 14:17] tdeheurles commented on #156
Sure @pires , I posted as a reminder, for now I'm in trouble with configuring my kubernetes cluster (not that project one). I came back as soon as it's tested.

[2015-09-14 14:31] pires commented on #156
Thank you.

[2015-09-16 07:58] #156 closed

[2015-09-19 20:37] gngeorgiev opened #158 "master: Waiting for Kubernetes master to become ready.."
It seems that vagrant configures the master node but then it, for some reason does not report correctly its status, not really sure what happens but it either takes really long to wait for the master - at least 30 minutes, or it never finishes. Here's my output if it would help.

[code]

[2015-09-19 21:08] pires commented on #158
How fast is your internet speed? See #116

[2015-09-19 21:11] navats opened #159 "Delete DTC code"
Hi Pires,

First, Thank you for making this java obi api, this api was really useful when making an android based obd application.

So far, I was able to make every function work on both simulator and real car except clearing the DTC code since I couldn’t find the command to do so.

Do you have any suggestion on how do I clear the fault code using this api.

Thank you in advance,

[2015-09-19 21:20] pires commented on #159
You're on the wrong project. Please jump to https://github.com/pires/obd-java-api.

[2015-09-19 21:20] #159 closed

[2015-09-20 07:11] tdeheurles commented on #158
hi @gngeorgiev , the loop that wait for `master` is the following :

[code]

It breaks after 8' ... it must have happen something during that one.

During that wait time, you can ssh in to try to understand what the problems came from :
[code]

Then do that one :
[code]

Should appear something like that :
[code]
Look at the top, it says that 3 jobs are queued.
We can look to that jobs with `syste

[2015-09-20 08:35] tdeheurles commented on #143
There is a little implementation to do for going in the bridge way.

I have done it in [homecores](https://github.com/tdeheurles/homecores) (like a copy of that one but with the idea to have only one VM on each host).

The `pires/kubernetes-vagrant-coreos-cluster` project is a great introduction to kubernetes. Hard to do better than :
[code]

If we use bridge, we will have to deal with the selecti

[2015-09-22 03:51] orospakr opened #160 "Rather than installing kubectl globally and modifng ~/.bash_profile, consider providing script that emits shell evaluable config"
A big part of the value of using Vagrant to host environments is achieving isolation of your project workload from the rest of your workstation.  I get very nervous when projects start asking to make changes to my global setup.

It'd be great if perhaps the user was asked to run, at their convenience, something like:

    $ eval "$(kubernetes-cluster shellinit)"

The script would emit a shell snip

[2015-09-22 08:57] pires commented on #160
Thanks for sharing. Personally, I dislike how `docker` does it. For someone, like me, who has a couple dozen terminal tabs open it's a major PITA to run said `eval` instruction.

Anyway, I'm open for reviewing a PR.

[2015-09-26 12:05] brunomacf commented on #158
same here

[code]

and it waits forever... i'm using Mac OS X 10.10.5

[2015-09-26 15:16] tdeheurles commented on #158
Can you `vagrant ssh master` and tell what's becoming inside please ? (reference to my previous post)

[2015-09-29 07:49] potgieterdl commented on #158
Having same issue as above...waiting for master.
Running systemctl status shows 1 failed job,
on checking the failed units (systemctl list-units), i see kube-certs.service failed

[code]

[2015-09-29 08:42] pires commented on #158
@potgieterdl it seems it's failing to execute `/tmp/make-certs.sh 172.17.8.101 IP:172.17.8.101,IP:10.100.0.1,DNS:kubernetes,DNS:kubernetes.default,DNS:kubernetes.default.svc,DNS:kubernetes.default.svc.cluster.local`. Can you try and run that manually, please?

[2015-09-29 08:46] pires commented on #158
I am unable to reproduce this. Need more feedback.

[code]

[2015-09-29 08:47] pires commented on #158
@potgieterdl why `groupadd: group 'kube-cert' already exists`? Even though this command is allowed to fail when executing the service, I don't see why this group would exist. What changes have you made to the tree?

[2015-09-29 10:20] remoe commented on #158
I had the same.

group exists: running "vagrant up" multiple times?

[2015-09-29 10:24] pires commented on #158
Well, if one doesn't destroy the VMs, yes you may find yourself in the middle of a shitstorm when `vagrant up` again. This behavior is unfortunately not supported. The same for `reload/resume`.

[2015-09-29 10:30] remoe commented on #158
Ok, I've run:

[code]

but it happens something similary:

[code]

[code]

[2015-09-29 10:54] pires commented on #158
@remoe please run and post back the results of:

```ls -las /tmp```
and
[code]

[2015-09-29 12:02] remoe commented on #158
[code]

[code]

I know, wrong user, but ...

[code]

[2015-09-29 12:40] pires commented on #158
`-bash: /tmp/make-certs.sh: Permission denied` is the culprit. weird! why would it work for me and not for you guys?

[2015-09-29 12:50] tdeheurles commented on #158
What is your host OS ?

-rw-r--r-- <= make-certs.sh

maybe it comes from `git configuration` as there is no `.gitattributes` in the project

[2015-09-29 13:23] remoe commented on #158
@tdeheurles , Windows 7 x64

[2015-09-29 13:29] tdeheurles commented on #158
@remoe I run it on the same OS. But I had lots of issues with that (not in that project, but can't remind when I config it globally).

Try a `git status` just after your `git clone`. Maybe it changes permissions. I'm not really sure it comes from there ... but maybe ^^

If it changes permissions, you will need to configure your git for linux LF.

[2015-09-29 13:29] pires commented on #158
@remoe @potgieterdl @brunomacf @gngeorgiev care to try https://github.com/pires/kubernetes-vagrant-coreos-cluster/pull/161 and let me know?

[2015-09-29 13:55] remoe commented on #158
@pires here is the result:

[code]

[2015-09-29 13:58] remoe commented on #158
@tdeheurles , thanks, I called ```git status``` after clone.

[2015-09-29 14:05] pires commented on #158
@remoe I'm sorry but there's something pretty nasty going on with your stuff.

Run the following **exactly** as typed:

[code]

[2015-09-29 14:31] potgieterdl commented on #158
windows 8.1, now trying on windows 10 at home. Running the above as described. Will feedback in few min

[2015-09-29 15:03] potgieterdl commented on #158
@pires , results are same as @remoe

[code]
[code]
[code]
and the most important, I think
[code]

[2015-09-29 15:10] potgieterdl commented on #158
Above is on a brand new windows 10, with clean vagrant (fresh install), docker and virtual box.
Only ran vagrant up once.

[2015-09-29 15:21] potgieterdl commented on #158
Ok, think I might have found the issue. If I open the file via winscp (commander like scp/ftp tool) and change encoding to utf-8 then small change (add new line) then save. It works.

[2015-09-29 15:22] pires commented on #158
Can you please do that and open a PR with the changes?

[2015-09-29 15:24] potgieterdl commented on #158
will do, testing change from beginning quickly.

[2015-09-29 17:21] potgieterdl commented on #158
ok....no idea how to fix this.

I have changed the file encoding in windows to utf-8, destroyed everything and ran vagrant up. It had the same effect, cant execute the make-certs.sh.

If I open it through winscp (ssh to the vagrant master 127.0.0.1:2222) and change the encoding from latin to utf-8 and then run manually. it works perfect.

It seems the encoding is either changed when creating the v

[2015-09-29 18:31] potgieterdl commented on #158
create PR. stuffed up the first commit a bit. Fixed it.
Seems to work fine on mine now, once merged @remoe can try as well.

Will double check on my work pc tomorrow morning.

[2015-09-29 19:28] pires commented on #158
@remoe please try @potgieterdl PR and let me know.

[2015-09-29 19:39] remoe commented on #158
[code]

[2015-09-29 21:24] pires commented on #158
@remoe try with #162.

[2015-09-30 05:51] potgieterdl commented on #158
@pires Pulled latest changes at work pc and getting same result as @remoe. I opened the make-certs file and removed lines around license at the top. Saved as utf-8 and destoryed the vagrant vm`s. Restared with vagrant up and now working fine.

I presume this might be a issue with the encoding of the file on windows and how it gets moved to the vm.

[2015-09-30 06:46] pires commented on #158
@potgieterdl @remoe can you `vagrant ssh master` and:
[code]
and paste results here?

[2015-09-30 06:48] tdeheurles commented on #158
I can't reproduce the issue on Win7x64 with fresh new git clone ...

[code]

I don't thing I have changed anything that touch to utf-8 etc ...

[2015-09-30 06:51] tdeheurles commented on #158
[code]

[2015-09-30 06:58] pires commented on #158
@tdeheurles can you try upgrading to Vagrant 1.7.4 and give it a fresh try?

[2015-09-30 07:00] tdeheurles commented on #158
Yes, I'm going to try

[2015-09-30 07:24] remoe commented on #158
[code]

[code]

[code]

[code]

[code]

[code]

[2015-09-30 07:37] tdeheurles commented on #158
[code]

[code]

---

@remoe seems fine for last start, just need to start with some NODES

---

@remoe: `WARNING: terminal is not fully functional` ==> should have a look to [babun](http://babun.github.io/), if you have any issue with it, just mail me questions (tdeheurles@gmail.com)

[2015-09-30 07:49] pires commented on #158
I agree with @tdeheurles assessment.

So it seems the trick is
[code]
?

[2015-09-30 07:51] tdeheurles commented on #158
In any case we should add a gitattributes to the project. I look for one.

[2015-09-30 07:52] pires commented on #158
@tdeheurles on my way!

[2015-09-30 07:54] tdeheurles commented on #158
It's something like that:

[code]

`text` correspond to `lf`

[2015-09-30 07:59] remoe commented on #158
@pires, @tdeheurles , congrats it WORKS!

It takes a lot of time to start this nodes :/

What are your strategies to debug/develop this environment? On every change you start the whole thing?

[code]

[code]

[2015-09-30 08:02] pires commented on #158
@remoe `master` takes a while because of the Docker cache, which will speed up your development in the future by reusing local images instead of downloading them again. And while you feel this may be slow, you should try the official way then and then let us know ;)

@remoe care to try #163?

[2015-09-30 08:04] tdeheurles commented on #158
Yes VM are loooooooonnng to start ...
I'm looking for a docker/container way but `Windows` is so problematic with containers for now.

There was an issue here but that project have been a great kubernetes start for month now.
Hard to do better than:
[code]
no ?

[2015-09-30 08:17] remoe commented on #158
@pires, I tested it again with '158-fix_line_ending' - branch. It works.

[2015-09-30 08:18] pires commented on #158
@remoe awesome! @gngeorgiev @potgieterdl @brunomacf care to try one more time with #163?

[2015-09-30 08:22] tdeheurles commented on #158
Just remind to add the code below to .gitattributes if it doesn't work for the next one.

[code]

This:
[code]
is global, so it will works now for the different projects.
I'm not sure that `* text=auto` is enough.
The way I understand it is to follow the global rules define above.

We will see ^^

[2015-09-30 08:26] pires commented on #158
`.gitattributes` will work per repo. We can override `eol` and `autocrlf` too and that's why I'm asking people to give it a try.

[2015-09-30 13:04] remoe commented on #158
@tdeheurles, hey thank you for this babun link!! awesome! I used http://cmder.net/ ... but I had some terminal issues.

[2015-09-30 13:16] tdeheurles commented on #158
@remoe no problem (didnt know that cmder)

[2015-10-01 09:51] remoe commented on #155
Hi @chiefy , I adapted this:

https://github.com/vyshane/docker-compose-kubernetes/blob/master/scripts/activate-kube-ui.sh

replaced "kube-system" with "default" (the default of this project) and accessed it with:

[code]

[2015-10-05 13:17] ashic commented on #158
I tried with both master and the e6670b4 commit. Getting the following:

[code]

I'm behind a corporate proxy, which I'm battling with on other grounds. I've checked and I don't have an existing ~/.kube directory. My host is windows.

Could this be related?

[2015-10-05 13:44] pires commented on #158
A lot of Windows users seem to be complaining.

[2015-10-05 13:44] #158 closed

[2015-10-05 13:45] pires commented on #158
Closing this in order to get more feedback from Windows users. Before providing more feedback, please test with latest changes.

[2015-10-05 13:54] tdeheurles commented on #158
hi @pires, can you just describe me shortly what you want to test on windows. Will make a try.

For others: windows create a lot of issues as most of the parts are different:
- the `filesystem`
- the `endofline`
- ...

For that you need to prepare your git client to clone with that :

[code]

Then finally clone the repository and have a look to that (before running `vagrant up`) :

[code]
It shoul

[2015-10-05 21:12] ashic opened #165 "Windows issues"
Following on from #158 , I'm trying to get this up and running on Windows 10 running in cmd and cmdr. Here's what I've done:

* disabled autocrlf. cloned the repo, checked out master (2f3b6ea)
* vagrant up

This hangs on waiting for master:

[code]

I then checked out tag 1.0.3. This actually passed, and got passed the master pretty quick. However, it took ages waiting for node 01 and 02 to get re

[2015-10-05 22:13] ashic commented on #165
Might've talked too soon. With 1.0.3, master is running, but node-01 and 02 are not.

[code]

[2015-10-06 11:24] pires commented on #165
I have no Windows system so I can't investigate further.

[2015-10-07 10:11] pires opened #166 "Add Kubernetes UI"

[2015-10-07 11:40] #166 closed

[2015-10-07 11:41] pires commented on #86
Stalled.

[2015-10-07 11:41] #86 closed

[2015-10-07 11:42] pires commented on #132
Stalled.

[2015-10-07 11:42] #132 closed

[2015-10-07 11:42] pires commented on #136
Stalled.

[2015-10-07 11:42] #136 closed

[2015-10-07 11:43] pires commented on #143
I agree with @tdeheurles. Thank you @drocsid for reporting but am closing since there's no one interested in providing a PR which I can review. Reopen if otherwise.

[2015-10-07 11:43] #143 closed

[2015-10-07 11:44] pires commented on #148
Stalled.

[2015-10-07 11:44] #148 closed

[2015-10-07 11:46] pires commented on #154
I agree we can check if it's the latest version before downloading but I disagree not overwriting previously installed versions. This repository allows you to run any Kubernetes version (retro-compatibility is limited) so it would bring many issues if client and server versions didn't match.

Would you be interested in contributing a PR to do this?

[2015-10-07 11:55] PurpleBooth commented on #148
Sorry we went a different route in the end. Forgot to update this.

[2015-10-07 12:04] remoe opened #168 "Suggestion: Optimizing of variable interpolation on Vagrant File?"
Only a small suggestion. I'm not a bash developer :)

I found some code like:

[code]

What you think about this bash function:

[code]

call it with:

[code]

[2015-10-07 12:05] pires commented on #165
@remoe would be great if you could help finding a permanent fix for this!

[2015-10-07 12:26] remoe commented on #165
@pires, I was able to startup the master and all nodes on Windows 7/x64 without any error. I don't have a Win10 system available.

[2015-10-07 12:27] tdeheurles commented on #86
Sorry, forget to close that one.

As we talk in some other post, I don't think the design of this project will be good with the subject of this post.
**kubernetes-vagrant-coreos-cluster** seems perfect for `entering kubernetes world` and adding complexity seems a bad idea.

I started a project named [homecores](https://github.com/tdeheurles/homecores) that try to go in that post way.

[2015-10-07 12:33] pires commented on #165
@remoe with a clean clone of this repo?

[2015-10-07 14:04] tdeheurles commented on #165
I had monday someone having issues with a similar project on windows.
`Still the same CRLF problem ...`

@ashic : are you sure the two CLRF commands were fine ? (as @remoe have fixed that globally before).

[code]

If it's fine with that, we need to go further as the `http://localhost:8080/api: dial tcp 127.0.0.1:8080: connection refused` is just saying api-server is not up.

Please make another t

[2015-10-07 14:35] chiefy commented on #154
@pires :+1: yes, will try to get to it asap.

[2015-10-07 14:55] remoe commented on #165
I've tested it now with master. It works perfectly on my side (babun shell and Win7/x64):

vagrant@1.7.4
git@2.1.4

[code]

[2015-10-07 15:01] pires commented on #165
Thank you @remoe. @tdeheurles this is a Windows thing and I won't be able to help more than I did.

[2015-10-07 15:01] pires commented on #154
@chiefy awesome!

[2015-10-08 12:05] remoe commented on #168
I've found a small glitch. You need to remove a line eg. "PROXY_LINE". I updated it. Not nice, but it works :)

[2015-10-08 15:00] pires commented on #168
Well, this is more of an aesthetic thing but I am open to review a PR ;)

[2015-10-09 13:21] chiefy opened #170 "Minions start but don't attach to master / laggy ssh session"
I'm not really sure if this problem is exclusive to this project, but my google-fu failed me on finding anyone else experiencing this exactly.

What I have:
 * OSX 10.10.5
 * Vagrant 1.7.4
 * VirtualBox 5.0.2

I run `NODE_MEM=1512 CLOUD_PROVIDER=vagrant USE_KUBE_UI=true vagrant up` and everything seems to come up fine. I can ssh into master, and everything is fine. When I ssh into either of the mi

[2015-10-09 14:02] pires commented on #170
No nodes are provisioned/registered in the Kubernetes cluster. Pods and Services have been created in the API (`master`) and that's why you're seeing that result. Could the nodes still be downloading `kubelet`? Or having networking issues? Have you [disabled DHCP](https://github.com/pires/kubernetes-vagrant-coreos-cluster#virtualbox)?

[2015-10-09 20:56] remoe opened #171 "kube-apiserver (1.0.6) error (reflector.go)"
I see some errors on master after the installation on windows:

[code]

[2015-10-09 21:23] pires commented on #171
I'll probably revert Windows support. This is not something I can debug and/or fix.

[2015-10-09 21:28] remoe commented on #171
I'm not sure if this only a windows issue. I found some in the kubernetes repos. Please don't remove windows support. :)

[2015-10-09 22:28] pires commented on #171
Never had this error before. Unless it's something very specific to 1.0.6 but still it shouldn't be an error!

[2015-10-10 08:21] remoe commented on #171
I don't have an error on master-console when I try to get this resources:

[code]

[2015-10-10 08:23] remoe commented on #171
Found?:
https://github.com/kubernetes/kubernetes/issues/12715

"harmless" :)

[2015-10-10 08:25] #171 closed

[2015-10-10 15:12] pires commented on #171
Thank you for taking the time to let us know.

[2015-10-16 21:38] sdval commented on #170
I'm running into the same issue. Above `kubectl` commands return the same output. Additionally, `vagrant status` returns:
[code]

I did find this in `journalctl` on my minions:
[code]
I also ran `VBoxManage dhcpserver remove --netname HostInterfaceNetworking-vboxnetN`. All and any help is greatly appreciated here. Thanks!

[2015-10-17 07:41] tdeheurles commented on #170
can you ping between the different master/node plz ?

[code]

[2015-10-18 16:46] pires commented on #170
<http://kubernetes-master:8000/login>:8000/login
<http://kubernetes-master:8000/login>: dial tcp: lookup kubernetes-master:
no such host

Where does this hostname come from? This is not something from my repo.
Unless it's some Kubernetes bug.
On Oct 17, 2015 08:41, "thibault deheurles" <notifications@github.com>
wrote:

[2015-10-19 17:48] sdval commented on #170
I rebooted, removed the virtual box images, pulled from mater, and re- ```vagrant up```-ed and everything is working now. Sorry for the noise - and thanks for putting this repo out there!

[2015-10-19 17:59] pires commented on #170
Great @sdval. Thank you.

[2015-10-19 17:59] #170 closed

[2015-10-25 12:07] #168 closed

[2015-10-30 01:53] w0mbat opened #172 "Kube-UI not working"
Hey!

I tried it a couple of times but for me the kube-ui is not working.

I get the following error:

[code]

Any thoughts?

[2015-10-30 11:12] pires commented on #172
What is the output of
[code]

[2015-10-30 13:29] w0mbat commented on #172
[code]

[2015-10-30 13:29] w0mbat commented on #172
I basically just booted a new cluster with ```USE_KUBE_UI=true vagrant up```

[2015-10-31 12:49] pires commented on #172
Weird, not even DNS was provisioned. Looking at it..

[2015-10-31 12:53] pires commented on #172
@w0mbat what OS are you using?

[2015-10-31 13:04] pires commented on #172
On MacOS

[code]

[2015-11-02 06:20] qianglchina commented on #165
It seems some kind of  format problem  in the make-certs.sh . I use linux vi and copy all the texts of make-certs.sh and save as a new script to replace the original.  Then it works without  errors !

The platform OS is window 10

[2015-11-02 12:05] pires commented on #165
OK will try that.

[2015-11-02 20:17] thebigredgeek commented on #172
bump?

[2015-11-03 02:57] w0mbat commented on #172
@pires I am running MacOS too (10.11.1)

[2015-11-03 03:12] w0mbat commented on #172
This is what I am getting:
[code]

[2015-11-03 03:44] pires commented on #172
@w0mbat this is different from what you posted earlier. Now, it's working on tour side as well.

[2015-11-03 07:28] w0mbat commented on #172
Well the services are now listed - but the same error exists - as soon as I try to access the ui, its still not available :/

[2015-11-03 14:07] pires commented on #172
[code]

[2015-11-08 05:44] w0mbat commented on #172
Well I can see the same thing result as you do, but I can´t access it from the browser, which would be the normal way to use it.

[2015-11-08 15:15] pires commented on #172
Are you routing your intra Kubernetes cluster traffic through the VMs? I mean, the service is not bound to a VM IP address, hence you can't access it directly from your host.

[2015-11-10 12:51] #172 closed

[2015-11-20 12:47] remoe opened #173 "migrating to current docker-registry?"
This project use a deprecated docker-registry 0.9.1:

https://github.com/docker/docker-registry
https://github.com/AntonioMeireles/dockerfiles/blob/master/docker-registry/Dockerfile

Does anyone know how to migrate to this:

https://github.com/docker/distribution
docs: https://docs.docker.com/registry/deploying/
?

This should be changed?:

https://github.com/pires/kubernetes-vagrant-coreos-cluste

[2015-11-20 12:52] pires commented on #173
Never tried the new `docker-distribution` so I have no idea how to proceed. PR welcome.

[2015-11-21 14:11] remoe commented on #173
@pires, I'm not very familiar with it, but I've tried it:

https://github.com/pires/kubernetes-vagrant-coreos-cluster/pull/174

Thoughts?

[2015-12-06 10:30] WRidder opened #177 "/bin/sh: /home/core/kubectlsetup: No such file or directory"
At the moment I'm experiencing a weird issue using current master. Basically the steps I took are:
- Clone current master in a new folder
- Run `vagrant up` (Runs fine and I can enter the master/nodes)
- Run `vagrant destroy -f`
- Run `vagrant up`
- Error below occurs:

[code]

Cloning the current master in a new folder now results in immediately receiving the aforementioned error instead of after

[2015-12-06 11:04] pires commented on #177
Can you verify if the `temp` folder is populated?

[2015-12-06 14:33] WRidder commented on #177
The temp directory contains a `dns-controller.yaml` and a `setup` file.

[2015-12-06 14:51] WRidder commented on #177
Hm, this is odd. I deleted my base-boxes in `C:\Users\<USERNAME>\.vagrant.d\boxes`. Next running `vagrant up` actually works again.

However, when running `vagrant destroy -f` and `vagrant up` subsequently; the same error pops up again.

Is the base box altered in any way? (core-alpha 884.0.0 in this case)

[2015-12-06 17:16] pires commented on #177
Not that I'm aware of. `vagrant destroy -f` followed by `vagrant up` should repeat all steps executed in the initial (successful) run. I can't help with more debugging since I don't have any Windows machine around.

[2016-03-03 11:40] ankitforcode opened #180 "Port 8080 not exposed localy"
Seems after doing "vagrant up" port 8080 is not getting exposed externally as kubectl is unable to connect to the Kubernetes API.

error: couldn't read version from server: Get http://localhost:8080/api: dial tcp 127.0.0.1:8080: connection refused

[2016-03-03 14:29] pires commented on #180
The Kubernetes API is exposed on your master VM IP address not localhost.

[2016-03-03 14:29] #180 closed

[2016-03-05 11:17] tdeheurles commented on #177
I have the same issue starting from scratch.

![image](https://cloud.githubusercontent.com/assets/9496645/13547257/a4cc15d4-e2cb-11e5-98ea-2de43bb27bbe.png)

---

![image](https://cloud.githubusercontent.com/assets/9496645/13547265/befb39da-e2cb-11e5-802f-63eebcc28924.png)

Note that now there is a kubectl version for windows users that can be downloaded with the different binaries: [https://stora

[2016-03-07 11:23] pires commented on #177
@tdeheurles care to open a PR that uses the Windows binary on the host instead of the Linux binary on the VM?

[2016-03-07 12:45] tdeheurles commented on #177
I'll try, but not now sorry ...

We need to remove the `windows kubectl speciality` and add a link to the windows kubectl.exe I think. It will be more consistent between environment. I'll try to do that ...

For information I'm totally not using that way anymore. For me, kubectl is included in a container now. The method works for all environment. If someone is interested, it's [here](https://gith

[2016-03-19 16:07] pires opened #184 "Replace kube-ui with dashboard"
https://github.com/kubernetes/dashboard

[2016-03-24 13:24] imesh opened #185 "v1.2.0 is not starting properly"
@pires I'm using your vagrant for some time now. Almost all the tags/versions I used worked without a problem. However I just tried v1.2.0 and I get the below error at the end of the vagrant installation:

[code]

[2016-03-24 13:58] imesh commented on #185
My apologies the problem was with the ~/kube/config. It was overriding the KUBERNETES_MASTER environment variable. Thanks!

[2016-03-24 13:58] #185 closed

[2016-03-25 15:34] rajasaur opened #186 "Creating Binaries again during vagrant up"
Hi,
When you re-run vagrant up (after a vagrant halt), it re-runs the systemd units thus creating multiple copies of kube-proxy, kubelet, kube-scheduler, kube-apiserver (depending on master/node). Should we be using the ConditionPathExists (or something similar) so that it doesnt re-create the entries.

Same with the kubectl binary. The setup script checks for the directory existence and execute b

[2016-03-25 15:45] pires commented on #186
Yes, I'm eager to review your PRs :+1:

[2016-03-26 07:10] rajasaur commented on #186
@pires : Raised a PR #187 for this. Please note that this doesnt do as extensive a test on kubectl (by checking binary versions etc as mentioned in #154) as I wanted to do that separately. This will just avoid downloading it and makes the subsequent vagrant up times much shorter since the downloads of the binary and the kubectl are avoided.

[2016-03-26 13:36] pires commented on #186
Please, do it in a separate PR and remove the `kubectl` part of #187.

[2016-03-26 15:11] rajasaur commented on #186
@pires : Im going to do some debugging to see if the following error is related to my change (Cant see how it could have), but Ive been unable to pull any images from the registry cache. I keep getting errors like

Handler for GET /images/gcr.io/google_samples/gb-frontend:v3/json returned error: No such image:

for each of the images that are defined in the yaml files. If I do a docker pull manual

[2016-03-26 15:17] pires commented on #186
`gcr.io` is not cached at all, only Docker Hub.

[2016-03-28 13:02] #186 closed

[2016-04-10 03:56] langdead opened #189 "master: The connection to the server localhost:8080 was refused - did you specify the right host or port?"
Hi,

I get following error when `vagrant up` in windows 10 without any change except adding a shared folder.
What's your suggestion, pls?

BTW, I am using virtualbox but without disabling its DHCP server.

Thanks in advance!

Regards
Langdead
[code]

[2016-04-10 05:16] langdead commented on #189
Sorry, I tried `vagrant halt` and `vagrant up` again. The problem is gone.
So close this issue.

Regards
Langdead

[2016-04-10 05:16] #189 closed

[2016-04-14 03:48] AntAreS24 commented on #177
Same issue here. I'm new to all this, so I'm happy to, but I'd need some guidance.

[2016-04-14 04:31] AntAreS24 opened #190 "404 error while accessing kube-ui"
I've started the cluster (successfully) with the env variable `USE_KUBE_UI=true`, I can see in the log that the UI is provisioned
[code]

but it fails to load with a redirect to [http://172.17.8.101:8080/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard](url) and the JSON:
[code]

[2016-04-14 04:47] AntAreS24 commented on #190
After some more googling, if I point the URL to [http://172.17.8.101:8080/api/v1/proxy/namespaces/kube-system/services/kube-ui/#/dashboard/](url), then I can access the UI.

[2016-04-14 06:44] tdeheurles commented on #177
Look to the *.sh scripts. If their line endings are CRLF, your clone is not good.
You can:
- change line ending using your editor (intellij, atom or visual code do that).

or:
- delete the repo, block git to change LF to CRLF with `git config core.autocrlf false` and clone again.

[2016-04-14 08:19] #190 closed

[2016-05-08 22:22] ngtuna opened #191 "Unable to connect to the server: dial tcp 192.168.99.100:8080: i/o timeout"
Hi,

I tried to run `vagrant up` with virtualbox, however finally could not access to k8s. Issue below:
[code]
I noticed that both master and node were provisioned with vboxnet1 interface. Does it go wrong? Is it supposed to be vboxnet0 instead ?

[2016-05-08 23:25] ngtuna commented on #191
My bad. It's running on `172.17.8.x`

[2016-05-08 23:25] #191 closed

[2016-05-12 16:10] pires commented on #116
Out of laziness, I'll just remove this.

[2016-05-12 16:11] #177 closed

[2016-05-12 16:15] #116 closed

[2016-05-12 16:15] #160 closed

[2016-05-12 16:15] #173 closed

[2016-05-12 16:26] #165 closed

[2016-05-12 16:57] #184 closed

[2016-05-14 16:05] #154 closed

[2016-05-14 20:48] pires commented on #111
Idle.

[2016-05-14 20:48] #111 closed

[2016-05-14 20:48] pires commented on #56
NFS mounts it is.

[2016-05-14 20:48] #56 closed

[2016-05-27 15:12] isobina commented on #146
Hi, I'm having the same issue on my ubuntu server 14.04. iptables are all clear, no firewalls, nothing. Any ideas ?

[2016-05-29 15:30] Industrial opened #196 "How to expose ports"
Hi!

I've ran this project and then installed your elasticsearch and elk stack projects on the kubernetes running in vagrant but I have no idea how to expose services so I can for example see Kibana from the host machine.

[2016-05-29 19:12] pires commented on #196
You should read about [Services](http://kubernetes.io/docs/user-guide/services/) to understand how services are exposed.

Now, you should be able to access services by accessing the VM network but this is out of the scope of this project. Still, https://www.vagrantup.com/docs/networking/forwarded_ports.html.

[2016-05-29 19:12] #196 closed

[2016-06-01 05:16] ravihansa3000 opened #197 "Download Kubernetes binaries via synced folders - get rid of wget"
Master node is using wget to download K8S binaries which consumes a lot of network bandwidth and delays the startup time. Would you be willing to add offline support (not 100% though) for installing K8S via synced folders. Basically you download the binaries separately and store them in the file system, which is mounted to master node via sync_folders.yaml. In cloud-init we copy those binaries fro

[2016-06-01 09:44] pires commented on #197
The idea is mostly good but one way or another, we need to make sure the existing binaries match the configured Kubernetes version. And here's the problem, not everyone is using the latest, etc.

However, there's room for improvement on the `node` side, where only the first node would actually download the files and the remaining nodes would use said files.

[2016-06-02 05:03] ravihansa3000 commented on #197
Regarding the issue of downloaded files' version, that is trivial to solve. This has already been done for kubectl installation. Have a look at [1]. I just checked and verified that all Kubernetes binaries provide "--version" option.

Of course the default behavior is going to be `wget` and sync_folders approach is just an alternative method. This would greatly help people sitting behind too slow/

[2016-06-03 11:01] pires commented on #197
I'm sold. Care to provide a PR?

[2016-06-05 09:22] ravihansa3000 commented on #197
Sent PR - https://github.com/pires/kubernetes-vagrant-coreos-cluster/pull/198

Please review.

[2016-06-06 19:16] Industrial commented on #196
I have now read up on Services and I see that if I use the `type: NodePort` then
Kubernetes will dish out a port from 30000 to 32767 (see
[here](http://kubernetes.io/docs/user-guide/services/#type-nodeport)).

When I have everything running e.g. your elasticsearch and elk clusters then
kibana which runs on port 80 on the *Container* and a random port on the node.

The output from `kubectl get node

[2016-06-18 08:23] teestone opened #199 "kubectlsetup is not uploaded to VM"
==> master: Running provisioner: shell...
    master: Running: inline script
==> master: Running triggers after up...
==> master: Sanitizing stuff...
==> master: Waiting for Kubernetes master to become ready...
==> master: Installing kubectl for the Kubernetes version we just bootstrapped...
==> master: Executing remote command "sudo -u core /bin/sh /home/core/kubectlsetup install"...
==> master:

[2016-06-18 15:20] teestone opened #200 "kubectl get nodes return empty after cluster starts"
There is no outstanding error in journalctl.

[2016-06-18 18:55] BitBldr commented on #199
I am seeing this issue as well. The short term fix I have used is to delete ~/.vagrant.d every time you run vagrant up. I believe it has to do with the code path which installs kubectlsetup in the Vagrant file not being executed if you have already previously provisioned these VMs

[2016-06-21 21:13] pires opened #201 "MacOS X doesn't come with wget built-in"
..hence, `kubectl` doesn't get installed.

Reported by @fat0wl

[2016-06-21 21:22] #201 closed

[2016-06-22 20:28] pires commented on #200
This is not enough information.

[2016-06-22 20:29] pires commented on #199
I am **again** tempted to just ditch Windows support since I don't use such OS nor have I found anyone willing to help maintain it.

[2016-06-22 20:29] pires commented on #197
This is done. Thanks @ravihansa3000!

[2016-06-22 20:46] BitBldr commented on #199
I've seen this on both Windows and OS X

[2016-06-22 20:55] pires commented on #199
@BitBldr `setup` runs on host machine so I'm not sure what you're talking about.

[2016-06-22 21:44] BitBldr commented on #199
Yeah, you're right. I forgot to mention I had modified the vagrant file to install kubectlsetup on all OS types, simply because I liked having it run the same on all my machines. I understand you can't account for modifications, but all I was saying was its not because of Windows this issue is occurring, it seems to be because of the way the vagrant file installs the kubectlsetup after you have al

[2016-06-22 21:45] pires commented on #199
@BitBldr good luck, I hope you figure it out and I'm eager to review your PRs.

[2016-06-24 07:19] ravihansa3000 commented on #197
Great!

Thanks for seeing this through to the end

[2016-06-24 07:19] #197 closed

[2016-06-25 14:15] teestone commented on #200
Sorry for that. I'll re-submit an issue after I find more clue.

[2016-06-25 14:15] #200 closed

[2016-06-26 14:56] pires commented on #199
Fixed.

[2016-06-26 14:56] #199 closed

[2016-07-01 17:39] naveen04git opened #203 "DOCKER_OPTIONS not taking effect"
Noticed that specifying DOCKER_OPTIONS when firing up the VMs did not get get propagated to the cloud-config. Following change on master.yaml and node.yaml took care of it.
(I am new to the coreos cloud-configs so not sure if there is a better way of doing it.)

[code]

[2016-07-08 08:57] #203 closed

[2016-07-08 08:57] pires commented on #203
Thank you for reporting and the patch. Next time, open a PR ;)

[2016-07-21 20:13] nvrenuf opened #204 "Error from server"
Default settings and receive:

Error from server: error when creating "/home/core/kube-system.yaml": namespaces "kube-system" already exists

Stops after creating first server

[2016-07-21 20:41] pires commented on #204
This should only happen once after `master` is created. Please, run the following:
[code]
and report logs.

[2016-07-21 22:02] nvrenuf commented on #204
master: Executing remote command "/opt/bin/kubectl create -f /home/core/kube-system.yaml"...
==> master: Error from server: error when creating "/home/core/kube-system.yaml": namespaces "kube-system" already exists
==> master: Remote command execution finished.
The remote command "/opt/bin/kubectl create -f /home/core/kube-system.yaml" returned a failed exit
code or an exception. The error output

[2016-07-21 22:19] pires commented on #204
Can you share the full logs of the commands I asked you to run?

[2016-07-21 22:25] nvrenuf commented on #204
Where are the logs located?

[2016-07-21 23:06] pires commented on #204
Where did you get the logs you shared above?

[2016-07-21 23:16] nvrenuf commented on #204
Copied from the screen

[2016-07-21 23:21] pires commented on #204
There you go.

[2016-07-21 23:24] nvrenuf commented on #204
C:\Users\lee\Documents\Vagrant\kubernetes-vagrant-coreos-cluster-master>vagrant up --provider vmware_workstation
Bringing machine 'master' up with 'vmware_workstation' provider...
Bringing machine 'node-01' up with 'vmware_workstation' provider...
Bringing machine 'node-02' up with 'vmware_workstation' provider...
==> master: Running triggers before up...
==> master: 2016-07-21 17:22:59 -0600: set

[2016-07-21 23:38] pires commented on #204
Thank you. Will check in tomorrow.

[2016-07-22 08:27] #204 closed

[2016-07-27 02:45] aeoluswing commented on #171
Is this issue still followed?We suffer the same phenomenon in v1.3:
`[root@kube-master kubernetes]# systemctl status kube-apiserver.service  -l                                                                          ● kube-apiserver.service - Kubernetes API Server
   Loaded: loaded (/usr/lib/systemd/system/kube-apiserver.service; disabled; vendor preset: disabled)
   Active: active (running) sinc

[2016-07-27 07:52] pires commented on #171
It's harmless.

[2016-08-12 14:15] SabraO opened #205 "Enable deployments in Kubernetes Cluster"
When I query the cluster using "kubectl get deployments --namespace=default" I get the response "Unable to list "deployments": the server could not find the requested resource'". Is there any way to enable deployments in the cluster?

[2016-08-12 14:20] pires commented on #205
Works here with a fresh clone!

[code]

[2016-08-12 16:18] SabraO commented on #205
The old clone I took about a week ago still works without any issue, but the fresh clone fails at starting the nodes.

The gist for startup log can be seen at https://gist.github.com/SabraO/f4a5b13646733d2932959a139378ddf1

The Virtualbox console shows the error message "IPv6: ADDRCONF(NETDEV_UP): docker0: link is not ready".

Any ideas why the new clone is failing to start?

[2016-08-12 17:03] pires commented on #205
If you want to enable specific APIs, you'll have to look into Kubernetes docs. Also, not sure which version of `kubectl` you're using, but I'd recommend using the same version as the server, e.g. `1.1.7.`. Also, `Deployments` for version `1.1.x` are not compatible with `1.2.x` or newer due to an API-breaking change.

[2016-08-12 17:03] #205 closed

[2016-08-13 05:00] SabraO commented on #205
The kubectl version is also same as the cluster.

Client Version: version.Info{Major:"1", Minor:"1", GitVersion:"v1.1.7", GitCommit:"e4e6878293a339e4087dae684647c9e53f1cf9f0", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"1", GitVersion:"v1.1.7", GitCommit:"e4e6878293a339e4087dae684647c9e53f1cf9f0", GitTreeState:"clean"}

And after some research enabled deployments by making

[2016-08-17 06:59] compasses opened #206 "Doesn't work behind proxy."
On Mac, cannot vagrant up successfully.
and vagrant ssh master , run the

```systemctl status kube-certs.service -n1000```

got the follwing errors:

[code]

[2016-08-19 22:26] pires commented on #206
Worked here.

[code]

[2016-08-19 23:11] pires opened #207 "Override $KUBELET_ACI in kubelet-wrapper script to download once"
See https://github.com/coreos/bugs/issues/1114#issuecomment-241156174.

[2016-08-21 21:25] #207 closed

[2016-08-21 21:26] pires commented on #206
Can you try again with latest master? I didn't change anything that would have an impact, but want to make sure.

[2016-08-22 12:09] pires opened #208 "Add Calico network policy support"
See https://coreos.com/kubernetes/docs/latest/deploy-master.html#set-up-calico-node-container-optional

[2016-08-23 02:38] compasses commented on #206
Seems still not work for me...

[code]

[2016-08-23 06:14] pires commented on #206
Those logs don't mean it hasn't worked. Please provide full logs. Also, what's your environment and what command are you running?

[2016-08-23 07:06] pires commented on #206
Are you setting any special CoreOS version?

Did you change anything or are you running a fresh clone of this repo?

[2016-08-23 11:56] compasses commented on #206
Big thanks for your quick answer, i didn't change anything in the repo, just export NODES=1, i just re-clone the repo.
and the full log:
[code]

[code]

[2016-08-23 13:15] pires commented on #206
Can you please clone the repo again and try?

[2016-08-23 14:23] pires commented on #206
Can you check the errors on master for `hyperkube-image-export.service` and `kube-certs.service`?

[2016-08-24 01:12] compasses commented on #206
The errors info:
My desktop run behind corporate network, i had set http proxy.

[code]

[2016-08-24 06:58] pires commented on #206
So that should be the problem.

[2016-08-30 10:45] amalkasubasinghe opened #210 "service resolving issue in k8s1.3.2 setup"
Hi,

I used your script to setup k8s 1.3.2
and then I deployed heapster https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb
but I see log of heapster, influxdb and grafana errors saying it can't find other services. I logged in to the heapster node and try to curl/ping monitoring-grafana -> it says unknown host

When I deploy the heapster in default namespace, no errros

[2016-09-02 08:56] pires opened #211 "Wait for NFS to be up"
[code]

[2016-09-02 09:15] pires commented on #211
As a workaround, use `sudo vagrant up` for now.

[2016-09-08 07:23] analytik opened #212 "Adopt Docker overlay2 fs"
Hi,

This is a lazy man's pull request. I'm playing with the latest CoreOS alpha, and I'm in love with overlay2 storage driver. It's much faster, and saves 30~40% of disk space.

In Kubernetes 1.4, it seems that IPs are not allowed as node names anymore, so that needs a few changes - I'm sure there's a better way than mine, but maybe posting this will save some time for some people.

To enable ove

[2016-09-08 08:11] pires commented on #212
Thanks @analytik this seems pretty valuable information.

Now, enabling `overlay2` implicitly would break stuff for people opting to use older versions of CoreOS (stable or beta channels where Docker 1.12 has not yet hit).

As for hostnames, I'll have to look into Kubernetes docs and see exactly what's going on because there's no DNS outside of the Kubernetes cluster itself.

[2016-09-08 08:38] analytik commented on #212
I think the related Kubernetes ticket is https://github.com/kubernetes/kubernetes/pull/30956

[2016-09-08 16:00] pires commented on #212
@analytik that issue is only related to federation.

[2016-09-09 10:29] analytik commented on #212
@pires ah, my bad

I saw the PR that affected it, but it turns out that was specific probably only to 1.4.0-beta.0 anyway, since 4 days ago that logic got reverted, and IP addresses are legal as host names again - https://github.com/kubernetes/kubernetes/pull/32052/commits/1c9ee74987a5e064638a4301c47086f6962caff0

[2016-09-13 01:16] rookiec14 commented on #196
Industrial, did you get this working?

[2016-09-13 08:09] Industrial commented on #196
Hi yes I did. Sorry for keeping this open..

[2016-09-13 09:25] pires opened #213 "Upgrade Kubernetes to 1.3.7"
Pending on `coreos/hyperkube` release https://quay.io/repository/coreos/hyperkube?tab=tags.

[2016-09-13 16:26] rookiec14 commented on #196
Could you explain how you did it ?.  I also tried to forward ports for the workers nodes in the vagrant file but did not work.  Thanks.

[2016-09-14 09:00] #213 closed

[2016-09-27 09:38] pires commented on #210
Probably your DNS is not running.

[2016-09-27 09:40] pires opened #215 "Adopt kubeadm"
With the release of Kubernetes 1.4.0, there's now `kubeadm`, a tool that makes it even easier to bootstrap a cluster. It would be interesting to adopt this in a separate branch so not to break previous versions of Kubernetes.

[2016-10-19 10:29] pires commented on #215
`kubeadm` is still alpha and there are a few issues when running with providers such as the ones supported in this repo. Don't expect this to hit any time soon.

[2016-10-19 10:47] pires opened #216 "Make provisioning faster"
- [x] Run **unschedulable** `kubelet` on master node
- [x] Put static manifests on master node
- [ ] ~~Master is not ready until DNS is up & running~~
- [x] Run **schedulable** `kubelet` on worker nodes
- [x] Put static manifests on worker node

[2016-10-19 10:53] pires commented on #212
So it seems `overlay2` Kernel support is there for all CoreOS channels but can't move there until Docker 1.12+ is adopted as well (_alpha_ already has it).

[2016-10-19 10:54] pires commented on #210
Run `kubectl get pods --namespace kube-system` and paste the result here.

[2016-10-19 10:54] #206 closed

[2016-10-23 13:22] remoe opened #217 "Installation Error: VirtualBox 5.1.8 / Vagrant 1.8.6 / Windows 10 (x64)"
[code]

[2016-10-23 13:31] pires commented on #217
Can you run `vagrant ssh master` and make sure that IP (`172.17.8.101`) is set there? This looks like some routing issue.

[2016-10-23 13:47] remoe commented on #217
sorry, i've forgot this one:

```git config --global core.autocrlf false and git config --global core.eol lf```

now it works :)

[2016-10-23 13:47] #217 closed

[2016-10-23 13:50] remoe commented on #217
why not enable dashboard by default:

USE_KUBE_UI = ENV['USE_KUBE_UI'] || true

and upgrade to dashboard 1.4.3 ? ;)

[2016-11-09 05:43] linearregression opened #219 "Vagrant up fails at "namespaces "kube-system" already exists""
Platform Windows.
Downloaded the latest and  I just did vagrant up.
When Configuring Kubernetes DNS...
==> master: Executing remote command "/opt/bin/kubectl create -f /home/core/kube-system.yaml"...
==> master: Error from server: error when creating **"/home/core/kube-system.yaml": namespaces "kube-system" already exists**

The complete log.

==> master: Mounting NFS shared folders...
==> master:

[2016-11-09 09:52] pires commented on #219
==> master: flag to force provisioning. Provisioners marked to run always will still run.

This means you have previous state stored. Try: ```
vagrant destroy -f
vagrant up
[code]

[2016-11-09 18:02] linearregression commented on #219
I have done that and the same error. See log beflow:

C:\Users\developer\Downloads\kubernetes-vagrant-coreos-cluster-reduceresource**>vagrant destroy -f**
==> node-02: VM not created. Moving on...
==> node-01: VM not created. Moving on...
==> master: Destroying VM and associated drives...
==> master: Pruning invalid NFS exports.
==> master: Running triggers after destroy...

C:\Users\developer\Dow

[2016-11-09 18:24] pires commented on #219
You have a very old version, 1.3.0. Can you pull latest?

[2016-11-09 18:25] pires commented on #212
_beta_ bundles Docker 1.12+ too.

[2016-11-09 18:44] linearregression commented on #219
So if I have local build of kubernetes, how can I use this to use my local build of k8s?

[2016-11-10 03:52] linearregression commented on #219
platest pull from master works

[2016-11-10 09:09] pires commented on #219
Awesome!

[2016-11-10 09:10] #219 closed

[2016-11-13 17:57] linearregression opened #220 "provison of dns controller failled connection refused."
Pulled latest
Platform windows, using vagrant, k8s :1.44

C:\Users\developer\Documents\GitHub\kubernetes-vagrant-coreos-cluster [(8f3085a...)]> vagrant destroy -
f
==> node-02: VM not created. Moving on...
==> node-01: VM not created. Moving on...
==> master: Forcing shutdown of VM...
==> master: Destroying VM and associated drives...
==> master: Pruning invalid NFS exports.
==> master: Running tr

[2016-11-15 17:35] #216 closed

[2016-11-15 17:35] #210 closed

[2016-11-15 17:37] pires commented on #220
==> master: 2016-11-13 09:53:31 -0800: failed to deploy master within timeout count of 50

There's something going on because master is not running.

[2016-11-16 16:08] pires opened #221 "Flannel + Docker integration broken in CoreOS alpha"

[2016-11-18 10:55] pires commented on #221
[Bug reported and fixed](https://coreos.com/releases/#1235.0.0).

[2016-11-18 10:55] #221 closed

[2016-11-18 10:55] pires commented on #220
Can you try now with latest changes in, please?

[2016-11-21 01:22] linearregression commented on #220
==> master: Downloading and installing linux version of 'kubectl' v1.4.6 into /opt/bin. This may take a couple minutes, depending on your internet speed..
==> master: Configuring environment..
==> master: Remote command execution finished.
==> master: Executing remote command "/opt/bin/kubectl config set-cluster default-cluster --server=https://172.17.8.101 --certificate-authority=artifacts/tls/ca

[2016-11-21 13:14] pires commented on #220
@linearregression can you ssh into your master node and look for `ca.pem`? Something like `sudo find / -name ca.pem` should do the trick.

[2016-12-03 20:59] 123batman opened #222 "kube-certs.service: Failed with result 'exit-code'"
Hello!

on ubuntu 16.04
vagrant Installed Version: 1.8.7

[code]

vagrant ssh master:

[code]

core@master ~ $ journalctl | grep kube-certs

[code]

What else can I do to help finding the issue?

[2016-12-03 21:05] 123batman commented on #222
core@master ~ $ sudo find / -name ca.pem
`/etc/kubernetes/ssl/ca.pem`

[2016-12-04 10:09] pires commented on #222
Can you try and manually run the script in the master node and share the error?

[2016-12-05 16:16] 123batman commented on #222
I think I found part of the problem but now there is a new error.

core@master /tmp $ /usr/sbin/groupadd -r kube-cert
`groupadd: group 'kube-cert' already exists`
core@master /tmp $ /usr/bin/chmod 755 /tmp/make-certs.sh
core@master /tmp $ /tmp/make-certs.sh
[code]
core@master /tmp $
core@master /etc/kubernetes/ssl $ ls -l
[code]

core@master /tmp $ sudo /tmp/make-certs.sh
[code]

core@master /vagr

[2016-12-05 16:25] pires commented on #222
If `/vagrant` is not made available to the VMs through NFS, nothing will work.

See https://github.com/pires/kubernetes-vagrant-coreos-cluster#synced-folders.

[2016-12-05 16:34] 123batman commented on #222
[code]

File permissions of
/home/username/vagrant/kubernetes-vagrant-coreos-cluster/artifacts/tls/ca.pem
[code]
Do you have a suggestion how we / I can take care of this sustainably?

[2016-12-05 16:38] 123batman commented on #222
Thanks for pointing it out. I am aware of this and double checked the nfs exports. The error is indeed in the missing tls folder as I have explained above. You can see this as I am able to go to /vagrant/artifacts from within the master without problems.

[2016-12-05 16:51] pires commented on #222
Can you run `sudo ls -lasR /home/username/vagrant/kubernetes-vagrant-coreos-cluster/artifacts/` and paste the result here?

[2016-12-05 17:22] 123batman commented on #222
username@usernamePC:~$ sudo ls -lasR /home/username/vagrant/kubernetes-vagrant-coreos-cluster/artifacts/
[code]
Thank you for your help.

[2016-12-05 17:35] pires commented on #222
Why `root`? Those resources should be owned by `username` (assuming `username` is the user that ran `vagrant up`.

[2016-12-16 10:44] pires commented on #222
Try again and re-open if it doesn't work.

[2016-12-16 14:20] jmwenda opened #223 "/tmp/openssl.cnf"
I am running this on an ubuntu box and seem the /tmp/openssl.conf fails when handling the keys. Is there something i am doing wrong? should i use the default openssl /usr/local/lib/openssl.cnf? If not what should the /tmp/openssl.conf be having?

[2016-12-16 14:45] pires commented on #223
The scripts and files are detailed [here](https://github.com/pires/kubernetes-vagrant-coreos-cluster/tree/master/tls).

I'm not sure exactly what your failure is.

[2016-12-17 03:39] jmwenda commented on #220
Hey, also having an error related to this on Ubuntu. Cannot seem to find the admin keys and certs for some reason .. This is when using vagrant up and also when configuring kubernetes dns. Any pointers on what is going wrong. When I ssh to the master, I am able to find ca.pem but not admin.pem. Thanks

==> master: Installing kubectl for the Kubernetes version we just bootstrapped...
Error in confi

[2016-12-19 22:59] 123batman commented on #222
I had to configure my NFS to preserve the file permissions set inside the VM on the host hence root is the owner, not username. If I don't do this kube-certs.service fails in the line `cp -p $pem_ca $pem_ca_key /vagrant/artifacts/tls` with the error message `cp: failed to preserve ownership for '/vagrant/artifacts/tls/ca.pem': Operation not permitted`. But if I configure NFS to preserve permission

[2016-12-20 09:53] pires commented on #222
I use MacOS and not Ubuntu. I'm clueless about this situation so I can only hope someone else will run into this and help us figure it out.

[2016-12-21 18:48] 123batman commented on #222
Maybe you can post your MacOS NFS default settings so we can compare? What do you think? Here are mine:

cat /etc/idmapd.conf
[code]

cat /etc/default/nfs-kernel-server
[code]
cat /etc/default/nfs-common
[code]
cat /etc/exports
[code]

[2016-12-22 11:20] pires commented on #222
I use MacOS defaults, where only `/etc/exports` exists and it's empty.

[2016-12-30 19:48] 123batman opened #224 "kubelet crashes on all nodes"
`journalctl` shows that master tries to restart kubelet but fails because there is already another kubelet container
[code]
Any ideas how this conflict arises? (docker[3009])

docker logs 39a (kubelet) shows "connection refused" errors:

[code]

[2017-01-01 13:04] pires commented on #224
What's your OS? Also, what exact command did you run?

[2017-01-03 17:38] 123batman commented on #224
OS:
Ubuntu 16.04.1 LTS (Xenial Xerus)
Command:
[code]

[2017-01-03 18:13] pires commented on #224
That's weird! `kubelet` container is started only once. Anyway, I just pushed a change that will make sure any previous `kubelet` container is removed.

Regarding the `kubelet` logs, I see a lot of errors that are not related to this repo but to your Docker version/setup.

[2017-01-06 02:57] bukharyi commented on #220
I am having the same issue.

[2017-01-06 10:12] pires commented on #220
@jmwenda @bukharyi read my comment above and provide feedback.

[2017-01-07 10:09] #223 closed

[2017-01-07 10:10] pires commented on #212
`stable` has it too, now.

[2017-01-07 10:38] pires opened #225 "Remove enforcing stable channel"
Due to https://github.com/coreos/bugs/issues/1710, the `stable` channel is being forced. Remove this as soon as the bug is fixed.

[2017-01-07 10:44] #212 closed

[2017-01-07 10:44] pires commented on #225
It seems it's happening with `stable` as well.

[2017-01-07 10:44] #225 closed

[2017-01-07 16:58] 123batman commented on #224
Could you please do a fresh vagrant up, wait a few minutes and post your master's journalctl output and `docker logs` of the kubelet/apiserver container on master?

I am wondering where things start to go wrong and why I am getting all these errors. CoreOS runs inside the VM so there should not be any difference in the docker setup.
Virtualbox > help > About Virtualbox: Version 5.1.12 r112440 (Qt5

[2017-01-07 17:06] pires commented on #224
Right now, there seems to exist a bug that affects all CoreOS versions that blocks mounts in the kubelet.

[2017-01-07 17:07] pires commented on #224
https://github.com/coreos/bugs/issues/1710

[2017-01-08 10:10] 123batman opened #226 "make CoreOS version downgradable again(?)"
If you change
`config.vm.box_version = ">= #{COREOS_VERSION}"`
to
`config.vm.box_version = "= #{COREOS_VERSION}"`
in
https://github.com/pires/kubernetes-vagrant-coreos-cluster/blob/master/Vagrantfile#L140
you can specify the COREOS_VERSION as described in the readme. Right now COREOS_VERSION is being ignored.

[2017-01-08 11:02] pires commented on #224
I fucked up! Fix incoming..

[2017-01-08 11:07] #224 closed

[2017-01-11 22:44] 123batman commented on #224
Thank you very much!

[2017-01-13 00:45] 123batman opened #227 "node NotReady after docker.service restart"
`vagrant up`

`kubectl get nodes`
[code]
`core@node-01 ~ $ sudo systemctl restart docker.service` (or reboot node-01 VM)

`kubectl get nodes`
[code]
And it never changes back to Ready status.

[2017-01-24 01:30] dluc opened #228 "kubectl proxy not working"
[code]

[code]

[code]

[code]

the command never completes and I'm unable to open the UI.

System: MacOS
Vagrant: 1.9.1
VirtualBox: 5.0.32

[2017-01-24 06:40] dluc commented on #228
Problem solved

[code]

then open browser at http://127.0.0.1:9090/ui/

[2017-01-24 06:40] #228 closed

[2017-01-24 09:39] pires commented on #228
Glad you figure it out @dluc 👍

[2017-02-01 10:47] nuwandiw commented on #220
Hi,
Facing same issue.
Followed the instruction in the comment and here's my result.
[code]
Please instruct.

regards

[2017-02-01 11:01] pires commented on #220
So the files are in place @nuwandiw. Please provide more details, like OS, logs, etc.

[2017-02-01 14:17] nuwandiw commented on #220
It's searching for a admin.pem it seems. Following shows the result for `kubectl get nodes` command,
[code]
attached the log for starting vagrant
[pires_vagrant.txt](https://github.com/pires/kubernetes-vagrant-coreos-cluster/files/745059/pires_vagrant.txt)

[2017-02-02 12:36] htesgaard commented on #220
I have the same issue. I'm running in Cygwin but experience the same issue if executed inside the regular command prompt,
@pires I'm unable to ssh into master.
$ ssh master
ssh: connect to host master port 22: Connection timed out

I have added the log with debug information somehow filtered for certain detials:
[vagrant.txt](https://github.com/pires/kubernetes-vagrant-coreos-cluster/files/747700/

[2017-02-02 13:00] pires commented on #220
I can't help because I don't have a Windows system.

[2017-02-02 13:02] htesgaard commented on #220
Thanks anyway. I have one machine in corporate hell. I will update this if it get it resolved.

[2017-02-09 15:11] w9n commented on #222
hi, I solved the Error by removing the preserve flag in cp [here](https://github.com/pires/kubernetes-vagrant-coreos-cluster/blob/master/tls/make-certs-master.sh#L36), but then the master is not able to call the nodes.

[2017-02-09 16:35] pires opened #229 "Can remove preserve from cert copy?"
https://github.com/pires/kubernetes-vagrant-coreos-cluster/issues/222#issuecomment-278670178

[2017-02-09 17:03] remoe opened #230 "Error on master.yaml?"
I'm not sure, but why this has a '-' ?

https://github.com/pires/kubernetes-vagrant-coreos-cluster/blob/master/master.yaml#L124

UPDATE:

It fails when one enable this. But this is needed for a restart?

[2017-02-09 17:07] pires commented on #230
In `system`, prepending a command with `-` means it can error and not break the execution. In this case, if a container named _kubelet_ doesnt exist, Docker will return an error code !=0 but the unit execution continues. Without the `-`, if the container doesn't exist, the unit execution is cancelled.

[2017-02-09 17:07] #230 closed

[2017-02-10 06:09] w9n opened #232 "connection time out for every service"
hi,
i run a fork with libvirt (dont think it matters, maybe certs? #229 ). I tried different services but all of them time out on the docker ip.

`curl http://localhost:8001/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/` ->
`Error: 'dial tcp 10.244.89.2:9090: getsockopt: connection timed out'
Trying to reach: 'http://10.244.89.2:9090/'`
dashboard runs on node 1
`curl 10.244.89

[2017-02-10 06:29] pires commented on #232
Check notes for the provider you use. For instance, if using Virtualbox https://github.com/pires/kubernetes-vagrant-coreos-cluster#virtualbox.

[2017-02-10 06:53] pires commented on #229
Fixed by #233. Thanks a lot @w9n 👍

[2017-02-10 06:53] #229 closed

[2017-02-10 06:54] pires commented on #222
Fixed by #233.

[2017-02-10 06:54] #222 closed

[2017-02-10 06:55] pires commented on #220
#233 should have fixed this, so closing this issue. Please try and comment or re-open if it still fails.

[2017-02-10 06:55] #220 closed

[2017-02-10 06:57] #226 closed

[2017-02-10 07:08] w9n commented on #232
I use [libvirt-vagrant](https://github.com/vagrant-libvirt/vagrant-libvirt) in my [fork](https://github.com/w9n/kubernetes-vagrant-coreos-cluster/tree/libvirt) (dont know if you want to support it), the box works with the offical kubernetes vagrant repo. I also can ping between the nodes but really dont know what part is failing here

[2017-02-10 07:14] pires commented on #232
I don't know about libvirt-vagrant and I'm not thinking about moving as the current setup works just fine.

Now, one node works, the two others don't. So it's something with your set-up.

[2017-02-10 07:14] #232 closed

[2017-02-10 15:44] remoe opened #234 "Installation error: VirtualBox 5.1.14 / Vagrant 1.8.6 / Windows 10 x64"
[code]

[2017-02-10 21:03] remoe opened #235 "Why not using kubelet-wrapper?"
I'm interested about the reason of not using kubelet-wrapper here:

https://github.com/pires/kubernetes-vagrant-coreos-cluster/blob/master/master.yaml#L125

?

because of using gcr.io and docker?

[2017-02-11 15:00] remoe opened #236 "some manifests yaml has parse errors / kube 1.5.2"
When one validate the yaml of master-proxy and master-controller-manager with kubectl create -f ... then it throws a 'name' parsing error. To fix this:

[code]

TO

[code]

[2017-02-12 13:03] remoe opened #237 "DNS_UPSTREAM_SERVERS not used in current kube-dns ?"
This is not used anymore:
https://github.com/pires/kubernetes-vagrant-coreos-cluster/blob/master/Vagrantfile#L111

Don't find any entry in it:

https://github.com/pires/kubernetes-vagrant-coreos-cluster/blob/27f3e4e294296e1ceac67135a02fe177c7d8ef7c/plugins/dns/dns-controller.yaml.tmpl

Does anyone know the details, why is this not needed?

[2017-02-14 10:12] w9n commented on #232
besides better performance and compatibility with kvm as vt-x hypervisor for other vms, the vagrant plugin enables parallel provisioning for each node.

i switched to vxlan and it easily works, just to let you know.

[2017-02-14 10:25] pires commented on #236
Fixed by #238.

[2017-02-14 10:25] #236 closed

[2017-02-14 10:26] pires commented on #235
This repo was using kubelet-wrapper before, which relies on rkt. I moved to Docker so I could have more control.

[2017-02-14 10:26] #235 closed

[2017-02-14 10:28] pires commented on #237
I think upstream servers can be defined but no one was using them, so while updating the descriptors I forgot to remove the optional parameter. I will remove it soon.

[2017-02-19 19:50] synax commented on #234
I can confirm this issue when trying to build a cluster on Windows 10 (Using default config) I ran into the exact same issue: VirtualBox 5.1.14 / Vagrant 1.9.1 / Windows 10 x64 1607.

I could solve this issue by chaning the "artifacts" path in the "run_remote" commands on lines 296 to 302 and line 383, from a relative one "artifacts/tls" to "/vagrant/artifacts/tls..." . You can replicate this by e

[2017-02-20 08:59] najibninaba commented on #234
I can reproduce this issue as well in my Windows environment (Windows 10 Pro x64/VirtualBox 5.1.14/Vagrant 1.9.1).

I managed to fix this by symlinking /vagrant/artifacts to /home/core/artifacts directory. See this: https://github.com/najibninaba/kubernetes-vagrant-coreos-cluster/commit/b53712c07439be067609873f81ae20a8912fb757

/cc @pires, any concerns with this approach? So far, my Kubernetes tes

[2017-02-20 10:37] #234 closed

[2017-02-20 12:15] sjeeva opened #239 "how to get kubectl working on mac"
I was able to successfully bring up the master and two nodes on mac system with virtualbox.. however kubectl is not available inside the master...
I ssh-ed into the master using below command
vagrant ssh master

How to configure external kubectl (from the mac)

[2017-02-20 12:57] pires commented on #239
@sjeeva `kubectl` is installed and configured in the host, so on your Mac. In the same terminal you ran `vagrant up`, just run `kubectl get nodes`.

[2017-02-20 12:57] #239 closed

[2017-02-20 15:27] sjeeva commented on #239
kubernetes-vagrant-coreos-cluster$ kubectl config use-context default-cluster
error: no context exists with the name: "default-cluster".
kubernetes-vagrant-coreos-cluster$ kubectl get nodes
The connection to the server 172.17.8.101 was refused - did you specify the right host or port?
kubernetes-vagrant-coreos-cluster$

[2017-02-20 15:55] pires commented on #239
[code]

Why did you run this manually? `vagrant up` takes care of this for you.

[2017-03-04 04:39] sjeeva opened #240 "Having issues connecting to k8s cluster.. only destroy and up sloves the problem"
==> node-02: Running triggers after up...
==> node-02: Waiting for Kubernetes minion [node-02] to become ready...
==> node-02: 2017-03-04 10:00:11 +0530: successfully deployed node-02
kubernetes-vagrant-coreos-cluster$ kubectl get nodes
The connection to the server 172.17.8.101 was refused - did you specify the right host or port?
kubernetes-vagrant-coreos-cluster$ vagrant status
Current machine s

[2017-03-04 10:27] pires commented on #240
Have you disabled DHCP as instructed in the documentation?

[2017-03-05 01:40] sjeeva commented on #240
VBoxManage dhcpserver remove --netname HostInterfaceNetworking-vboxnet0?
Would this impact by VMs?

[2017-03-06 08:15] sjeeva commented on #240
things got worst after I removed the dhcpserver .. now destroy / up is also not working

==> master: Installing kubectl for the Kubernetes version we just bootstrapped...
The connection to the server 172.17.8.101 was refused - did you specify the right host or port?
kubectl already installed in version '1.5.3'. Skipping install.
Configuring environment..
Cluster "default-cluster" set.
User "defaul

[2017-03-06 09:01] pires commented on #240
IPs are set manually, so I'm not sure what's going on with your setup.

[2017-03-06 09:01] pires commented on #240
And it doesn't seem to get worst as before you already had the same problem:
[code]

[2017-03-06 09:56] sjeeva commented on #240
do you need any logs to help me resolve this issue?

[2017-03-06 13:45] sjeeva commented on #240
BTW., previously destroy and up solved this issue...

[2017-03-06 15:24] pires commented on #240
👍

[2017-03-06 15:24] #240 closed

[2017-04-06 22:02] stepanselyuk opened #242 "`KUBERNETES_VERSION=1.6.1 vagrant up` waiting master timeout"
Hello,
while I want to change kubernetes version to 1.6.1 (I didn't check with any other except just don't specifying the version) I get waiting master timeout.

[code]

[code]

[code]
It's described in https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#action-required

So does this installer work only with 1.5.x versions of kubernetes?

[2017-04-07 08:01] pires commented on #242
It hasn't been tested with 1.6, yet.

[2017-04-07 10:01] pires commented on #242
I've fixed the master but I'll have to add a CNI plug-in for the worker nodes to work 🤔.

[2017-04-25 19:05] soickm opened #243 "Surviving VM restarts"
Great piece of work Mr Pires. I cloned and have used it quite a bit on my dev environments.

One small issue I noticed is that the environment doesn't seem to survive VM restarts.

For example, if I stop either VM (master, node-1, node-2), the only way to re-stand the environment is by re-creating the VMs.

Is this an issue that you can address?

Thanks,

Pedro

[2017-04-25 20:50] pires commented on #243
Hey Pedro, unfortunately it's not. Open to review, PRs though.

[2017-04-26 17:10] soickm commented on #243
Obrigado Paulo.

Sent from a mobile device. Please excuse brevity and typos.

[2017-04-28 12:13] harishreddy-m commented on #242
This is the only decent kubernetes deployment guide on internet.Thanks!

I can help you, if you can provide some pointers.
One suggestion: It looks like there are many issues with 1.6.2
Can you create another branch for work related to v1.6.2, so that master branch is not affected and keeps working with v1.5.6

[2017-05-06 11:00] mevam opened #244 "/vagrant/artifacts/tls/admin.pem: no such file or directory"
==> master:
==> master: Switched to context "local".
==> master: Remote command execution finished.
==> master: Configuring Kubernetes DNS...
==> master: Executing remote command "/opt/bin/kubectl create -f /home/core/dns-controller.yaml"...
==> master:
==> master:
**```
==> master: Error in configuration:
==> master: * unable to read client-cert /vagrant/artifacts/tls/admin.pem for default-admin

[2017-05-06 11:01] mevam commented on #244
How should i deal with it? Thank you.

[2017-05-07 12:54] thatsk commented on #240
Actually its with Kubernetes if we disable dhcp of virtualbox it can affect to other projects so is there any way for which kubernetes cluster and other projects cluster will workk???

[2017-05-07 13:16] thatsk commented on #240
Please open this issues

[2017-05-07 13:18] thatsk commented on #240
This is so irritating for us to disable dhcp server of Virutalbox & destroy the cluster and up takes to much time so what we have done development is gone.....

[2017-05-07 15:14] pires commented on #240
@thatsk if you find a solution, do open a PR. Glad to review solutions rather than commenting rants.

[2017-05-08 07:36] pires commented on #244
Are you running this on Windows?

[2017-05-08 10:52] pires commented on #242
I think I was complicating a lot by enabling RBAC. Going with the defaults works now!

[2017-05-08 10:52] #242 closed

[2017-05-10 04:07] mevam commented on #244
yes, your OS？

[2017-05-10 07:02] pires commented on #244
MacOS.

Can you repeat the setup and share the entire log here? The TLS artifacts should've been generated when provisioning the master node.

[2017-05-10 07:41] mevam commented on #244
{ kubernetes-vagrant-coreos-cluster } master » vagrant up
Bringing machine 'master' up with 'virtualbox' provider...
Bringing machine 'node-01' up with 'virtualbox' provider...
Bringing machine 'node-02' up with 'virtualbox' provider...
==> master: Running triggers before up...
==> master: 2017-05-10 08:30:59 +0100: setting up Kubernetes master...
==> master: Setting Kubernetes version 1.6.2
==> m

[2017-05-10 07:45] mevam commented on #244
Do you want these? I hope that my understanding is right.

[2017-05-10 07:50] pires commented on #244
The master was not provisioned correctly. Can you log into the machine and check logs?

[code]

If some unit failed, it should show up as soon as you log. You can use `journalctl` to check the logs for that unit.

[2017-05-12 22:10] prateekrastogi commented on #244
I am having similar issues on windows with exact same error. I then tried login to master and after login the output of create and journalctl commands were

core@master ~ $ ls
dns-controller.yaml  dns-service.yaml  kubectlsetup
core@master ~ $ kubectl create -f dns-controller.yaml
The connection to the server localhost:8080 was refused - did you specify the right host or port?
core@master ~ $ jour

[2017-05-13 01:51] prateekrastogi commented on #244
Also, the deployment is working correctly on windows for the branch tag 1.5.7

[2017-05-13 08:53] pires commented on #244
So the apiserver is not running. I need more logs.

[2017-05-13 17:02] prateekrastogi commented on #244
How can i generate more detailed log?

[2017-05-20 10:03] saschagrunert opened #245 "Switch to etcd3"
Hey, how about using etcd3 instead of the old 2?

[2017-05-20 10:46] pires commented on #245
Go ahead, eager to review PRs.

[2017-05-26 17:10] soickm opened #248 "Adding kompose to primary"
Mr Pires,

Where would you suggest I make a change to add another component to the master - such as kompose?

My limited understanding of vagrant is that I can deploy components to a VM via external scripting, but it doesnt look like this is what you are doing and I wanted to stay true to initial design.

Thanks,

Pedro

[2017-05-27 07:17] pires commented on #248
What is kompose? Looking at https://github.com/kubernetes-incubator/kompose it seems to be a developer CLI tool you would use on your machine, not on any Kubernetes node, much less the master node. 😕

[2017-05-28 21:21] #245 closed

[2017-06-01 07:38] #248 closed

[2017-06-05 19:05] soickm opened #250 "Using local copy of k8s and coreos"
Hi @pires,

Continue to love your project. I spend a lot of times on airplanes so I can't always re-start the cluster. Can I create the cluster from local copies of k8 and coreos?

Thanks,

Pedro

[2017-06-05 19:44] pires commented on #250
Yes. Just make sure to run this before you board on a plane.

[2017-06-05 19:55] soickm commented on #250
Maybe I didn't ask the right question:

I see this on the logs:
==> master: Importing base box 'coreos-alpha'...
and I also see this:
 ==> master: Setting Kubernetes version 1.6.4

Not knowing much (or anything) about vagrant, it isn't clear to me how I can use Vagrant to use a cached copy of k8 and coreos rather than get it via curl every time I need a dev cluster.

Thanks,

P

[2017-06-05 20:17] pires commented on #250
the Kubernetes version, if you don't change it, is stored in `artifacts` as a compressed container image. CoreOS machines are stored on `~/.vagrant.d/boxes`.

[2017-06-05 20:30] soickm commented on #250
Thanks. Even if I do vagrant destroy the files are preserved?

[2017-06-07 10:15] kirituo commented on #244
Did someone found a workaround for this problem?

[2017-06-08 10:24] kirituo commented on #244
thats the log i got from the master:
[master_log.txt](https://github.com/pires/kubernetes-vagrant-coreos-cluster/files/1060684/master_log.txt)

[2017-06-15 12:39] jayunit100 opened #251 "Add kubectl to Linux boxes"
This is a great project @pires  .., one minor nit: Is there a reason why kubectl isn't available on the linux masters?    It seems a little unweildy to need to need to manually install a matching kubectl client on the host when all the kube components are running on the VMs.

- Maybe even a separate lightweight VM just for kubectl would be ok if the goal is to keep the master pure.

- Regarding au

[2017-06-15 14:31] pires commented on #251
kubectl is installed into the VMs for Windows only. On Mac OS and Linux, kubectl is installed into the host system.

Answering your question, there's no reason not to have it on the VMs besides me never needing it and no one else requesting for it. Feel free to open a PR that does it, glad to review.

[2017-06-18 06:33] TheFausap commented on #244
Hello,
I have the same error. On the master there's IMHO an error in kube-certs.service, the script make-certs.sh is called without any args, so it display an help message and exit.

[Unit]
Description=Generate Kubernetes API Server certificates
ConditionPathExists=/tmp/make-certs.sh
Requires=network-online.target
After=network-online.target
[Service]
ExecStartPre=-/usr/sbin/groupadd -r kube-cert

[2017-06-18 06:44] TheFausap commented on #244
Find the issue: the two shell scripts (in my case) was still in Windows Format, even if I deleted the git directory, run those git global commands and doing git clone again.. I don't know why.
So i fixed the EOL in notepad++ and now the kube-certs service is OK and the vm creation is continuing without errors.

[2017-06-19 10:48] pires commented on #244
@thefausap open PR please.

[2017-06-19 12:33] TheFausap commented on #244
@pires Sorry but I never did before :-) How can I do that ?

[2017-06-22 20:09] pires commented on #244
https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2017-07-04 00:25] kamal2222ahmed opened #252 "password for user core after "vagrant up" command"
After i run the vagrant up @ kubernetes-vagrant-coreos-cluster level , i am prompted for a password, could not find what the password should be:

Here is a stdout:

$ vagrant up
Bringing machine 'master' up with 'virtualbox' provider...
Bringing machine 'node-01' up with 'virtualbox' provider...
Bringing machine 'node-02' up with 'virtualbox' provider...
==> master: Running triggers before up...
=

[2017-07-10 02:45] pires commented on #252
Your user's password, if it has sudo access.

[2017-07-10 02:45] #252 closed

[2017-07-25 22:46] Sutty100 commented on #244
@TheFausap Could you at least update which files had an were malformed? I am facing the same issue

[2017-07-28 05:42] TheFausap commented on #244
Sorry for the delay, today I will open the PR.

[2017-07-28 18:17] #237 closed

[2017-08-10 20:55] taahir-hassem opened #258 "Connection refused to master"
When running `vagrant up`, the connection to the master shows connection refused errors.  kubectl also shows connection refused errors.

LOG
==> master: Waiting for Kubernetes master to become ready...
==> master: 2017-08-10 22:37:01 +0200: failed to deploy master within timeout count of 50
==> master: Installing kubectl for the Kubernetes version we just bootstrapped...
Unable to connect to the s

[2017-08-10 20:59] taahir-hassem commented on #258
OS : Linux Mint 18.2

When logging onto the master, I can see hyperkube running:

`core@master ~ $ docker ps
CONTAINER ID        IMAGE                                             COMMAND                  CREATED             STATUS              PORTS               NAMES
31905d3a8ffc        gcr.io/google_containers/pause-amd64:3.0          "/pause"                 29 minutes ago      Up 29 minutes

[2017-08-10 23:06] pires commented on #258
The apiserver container isn't running. You need to check the logs of the failed container.

[2017-08-11 15:18] taahir-hassem commented on #258
So I deleted the cluster using vagrant destroy and retries to get the cluster up and running.  Was not presented with the following error:

==> master: Running triggers before up...
==> master: 2017-08-11 17:12:23 +0200: setting up Kubernetes master...
==> master: Setting Kubernetes version 1.7.3
==> master: Box 'coreos-alpha' could not be found. Attempting to find and install...
    master: Box P

[2017-08-11 15:37] taahir-hassem commented on #258
Started from scratch again and it worked.  Thanks.

[2017-08-11 15:37] #258 closed

[2017-08-15 13:48] pezhore commented on #244
@TheFausap Any word on that PR? Or the files that were malformed?

[2017-08-22 14:21] #243 closed

[2017-08-24 05:18] asmitac opened #261 "ejhdbnddguideldkur"

[2017-08-24 08:24] #261 closed

[2017-08-29 12:38] yudaykiran opened #262 "Cluster does not allow me to create a clusterbinding operation as the cluster lacks any clusterroles. This is with respect to RBAC."
Steps to reproduce:
------------------------

I created a cluster using kubeadm to setup a ubuntu vagrant setup and when I run:
[code]
I see a bunch of clusterroles displayed which are added by default.

With the kubernetes-vagrant-coreos-cluster "Vagrantfile", I surely get the coreos cluster up, but the cluster does not have any clusterroles defined.

For some of the operations like creating a ne

[2017-08-29 12:57] pires commented on #262
Everything RBAC-related is created by default so I don't know whta you mean https://kubernetes.io/docs/admin/authorization/rbac/#default-roles-and-role-bindings.

[2017-08-29 19:10] yudaykiran commented on #262
If the RBAC-related stuff is created by default, then running
[code]
must be displaying the 'system:' prefixed cluster roles right. But I do not see any clusterroles created.

I have an yaml file that creates an operator. It contains a service, a clusterrole and a clusterbinding, when I try to run it in this setup it give me the following error:

[code]

The operator gets created without errors in

[2017-08-29 19:21] pires commented on #262
I'll have to give it a try but right now I'm overwhelmed with work stuff.

[2017-08-30 04:44] yudaykiran commented on #262
Figured out a way to get the default clusterroles, currently testing it out. Will issue a pull request once I am confident that everything is working properly.

[2017-08-30 09:07] pires commented on #262
Thanks a lot!

[2017-09-15 08:19] yudaykiran commented on #262
Fixed as part of the merge from #263

[2017-09-15 08:19] #262 closed

[2017-09-20 12:23] munai-das commented on #244
Hi,

I am too facing the issue for the latest release tag 1.7.4

[2017-09-20 12:55] munai-das commented on #244
This resolved for me after I uninstalled minikube.
Others please check and confirm this.

[2017-10-01 07:39] yh1224 commented on #244
This might caused by make-certs.sh fails.
I noticed my tls/make-certs-*.sh files line ending with CRLF.
Even I configure core.autocrlf to false.

Line ending conversion is forced by .gitattributes below.
[code]
https://git-scm.com/docs/gitattributes

[2017-10-03 09:22] bojanmarkoski opened #265 "Authentication failure"
When I run 'vagrant up' the process fails because of Authentication failure.

[2017-10-11 11:55] munai-das opened #266 "Dashboard 1.7 doesn't work"
Here is the issue I get.

Git Head of kubernetes-vagrant-coreos-cluster
[code]

[2017-10-11 13:40] pires commented on #266
I haven't tested Dashboard 1.7. But if you run `USE_KUBE_UI=true vagrant up` the previous version of the dashboard will come up.

[2017-10-25 14:51] Laxman-SM commented on #265
same issue vagrant up stuck at password prompt

[2017-10-25 16:09] pires commented on #265
Your user needs superuser permissions.

[2017-11-06 20:46] CharlesJQuarra opened #267 "no iptables rules being written on host machine"

[2017-11-06 21:28] CharlesJQuarra commented on #267
created a test deployment in the kubernetes cluster:

`kubectl run hello-world --replicas=2 --labels="run=load-balancer-example" --image=gcr.io/google-samples/node-hello:1.0  --port=8080`

I create a service exposing these services:

[code]

The service starts:

[code]

If I ssh inside the vagrant VMs, I can hit the endpoints:

[code]

On the host, however this give a 'no route to host' error. Whe

[2017-11-09 21:43] CharlesJQuarra commented on #265
this started happening after a few boots of the host. I can't tell what was changed. Doing vagrant ssh <machine id> used to work without problems. But now it is asking for a password, and is not the default 'vagrant' password for other vagrant VMs

I tried doing sudo vagrant ssh and I got this:

[code]

[2017-11-09 23:30] CharlesJQuarra commented on #265
I just tried deleting the cluster VMs and recreating them. This is what I keep getting:

[code]

[2017-11-10 09:18] pires commented on #265
The error messages are self-explanatory to me and don't seem fixable in this repo.

[2017-11-10 09:18] #265 closed

[2017-11-16 14:35] wgtgithub opened #269 "Do you have any plan for supporing Windows Hyper-V?"
Hello,

I would like to try this package for Windows Hyper-V.
Or do you have any idea for me?

[2017-11-16 17:24] pires commented on #269
I don't have Windows much less Windows Server.

[2017-11-17 00:37] wgtgithub commented on #269
I see.
Thanks.

[2017-11-17 03:34] wgtgithub opened #270 "Use 10.0.2.2 when proxy supporting"
I checked your Vagrantfile.
In this coding, config.proxy.http set 'http://localhost:3128'
If then master instance reffer own localhost IP.
So it is better to use '10.0.2.2' instead 'localhost'.
By the way, I tried vagrant up again after configured HTTP_PROXY.
let you know the result.

[2017-11-17 03:58] wgtgithub commented on #270
I modified configuration of proxy.
But it is same result.

[2017-11-21 09:15] wgtgithub opened #271 "http://10.0.2.2:3128 refused and vagrant up is not working as new"
I have some problem after run your Vagrant file.
First of all minikube.exe not working well.
and second minikube is refused to 10.0.2.2:3128 as proxy
and last, 2 comannd promt were shown and hidden when run vagrant....
Do you have any idea of that?

[2017-11-22 00:06] wgtgithub commented on #270
I found the reason.
It is referent proxy ip of host and guest os on virtualbox.
As you know, host is using 'localhost:3128',
on the other hand  guest os is using '10.0.2.2:3128' as NAT.
Your Vagrantfile is confused and modified set configure.
Actually, I set '10.0.2.2:3128' and I found proxy configurations were changed '10.0.2.2:3128'
after vagrant up.
So host OS is referring 10.0.2.2:3128 as prox

[2017-11-22 08:53] pires commented on #270
I am sorry but I don't have a proxy around here to validate this issue. If you feel it's solved, please just close the issue.

[2017-11-30 17:17] KptnKMan commented on #266
FYI check https://github.com/kubernetes/dashboard/issues/2415

[2017-12-06 12:04] lujianmei commented on #244
Hi, I got the same issue, as you said, i tried to run :
Vagrant ssh master, it shows me as following:
On MacOS Hight Seris

$ vagrant ssh master
Last login: Wed Dec  6 19:43:38 GMT-8 2017 from 10.0.2.2 on ssh
Container Linux by CoreOS stable (1520.9.0)
Failed Units: 1
  user-cloudinit@var-lib-coreos\x2dvagrant-vagrantfile\x2duser\x2ddata.service
core@master ~ $

[2017-12-06 12:37] lujianmei commented on #244
As i described above, i used the stable coreos channel, but after i change to alpha, it is ok now. I am not sure what was wrong.

[2017-12-06 13:16] patvdleer opened #272 "Persistant Volumes are not created"
I'm not sure this is related to this specific project but it look like the persistent volumes aren't created dynamically. I've added the following StorageClasses but once I deploy a pod with a persistent volume claim the volume isn't created.

[code]

[code]

[2017-12-06 14:33] pires commented on #272
[code]

Did you use this repo to provision a cluster on top of GCP?

[2017-12-06 15:03] patvdleer commented on #272
No in vagrant locally, I completely overlooked the provisioner line, what should that be for a local env?

[2017-12-06 16:28] pires commented on #272
Whatever the provisioner you want to use defines.

[2017-12-08 13:06] patvdleer commented on #272
I don't see why the PV's aren't created dynamically based on the PVC's...

[2017-12-08 14:11] pires commented on #272
The provisioner you chose is not available.